<div
  id="modal-div-close"
  class="ui dimmer modals page visible active"
  (click)="decline()"
>
  <div class="ui mini modal visible active" (click)="$event.stopPropagation()">
    <div class="header">Calling to {{ label }} group</div>
    <!-- <div class="content">
      <img
        class="ui centered circular small image"
        src="{{ secondMember?.avatarUrl }}"
      />
      <audio
        src="https://r15---sn-3c27sn7d.googlevideo.com/videoplayback?expire=1597330862&ei=TgE1X5GyHKWqpASo24ygDw&ip=176.118.55.218&id=o-APLTVZpvKFWF1s2H_ViQOyGZQNZSG-yO92jZ2y088oZv&itag=140&source=youtube&requiressl=yes&vprv=1&mime=audio%2Fmp4&gir=yes&clen=867544&otfp=1&dur=54.520&lmt=1538945816469797&fvip=15&keepalive=yes&fexp=23883098&c=WEB&txp=2211222&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cgir%2Cclen%2Cotfp%2Cdur%2Clmt&sig=AOq0QJ8wRAIgIrrSoMYFuCRN2HV-VG5ZOFWaytTn-F09rPxCTzdoHWYCIGsx5P9daga-PCdhLUn727K-o0_WTMfSMuobWkW9nssF&redirect_counter=1&cm2rm=sn-5nug503g-afvl7e&req_id=4cbda5602f21a3ee&cms_redirect=yes&mh=en&mm=29&mn=sn-3c27sn7d&ms=rdu&mt=1597309240&mv=m&mvi=15&nh=IgpwcjAyLmticDAyKgkxMjcuMC4wLjE&pl=24&lsparams=mh,mm,mn,ms,mv,mvi,nh,pl&lsig=AG3C_xAwRgIhAJzFBxw_BOiBkNQ502URIB0NwfPjXkzCmy9E7RTh2_qJAiEA21oPzZPP46DJ7HmYswcAKaitznRX8WKV0gXgklP0AhA%3D"
        autoplay
        loop
      ></audio> -->
    <div class="icon-wrapper">
      <i
        id="call-decline"
        class="phone red circular large icon"
        (click)="decline()"
      ></i>
    </div>
  </div>
</div>
