<div
  id="modal-div-close"
  class="ui dimmer modals page visible active"
  (click)="decline()"
>
  <div class="ui mini modal visible active" (click)="$event.stopPropagation()">
    <div class="header">Calling to {{ label }} group</div>
    <div class="content">
      <div class="ui floating message" *ngIf="!isAnyoneThere">
        Seems noone has joined the call...
      </div>
      <img
        *ngIf="isImageHere() && isAnyoneThere"
        class="ui avatar image"
        src="{{ photoUrl }}"
      />
      <img
        *ngIf="!isImageHere() && isAnyoneThere"
        class="ui avatar image"
        src="assets/img/user-group-icon.png"
      />
    </div>
    <audio src="assets/audio/outgoing-call.mp3" autoplay loop></audio>
    <div class="icon-wrapper">
      <i
        id="call-decline"
        class="phone red circular large icon"
        (click)="decline()"
      ></i>
    </div>
  </div>
</div>
