<div class="ui segment">
    <h3>Poll</h3>
    <h4>{{poll.title}}</h4>
    <form class="ui form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngIf="poll.isSingleChoice" class="answers-container">
            <div class="field" *ngFor="let answerText of answerTexts; let i=index">
                <div class="ui radio checkbox">
                    <input type="radio" formControlName="answers" id="{{i}}" value="{{i}}">
                    <label class="default-cursor">{{answerTexts[i]}}</label>
                </div>
            </div>
        </div>
        <div *ngIf="!poll.isSingleChoice" formArrayName="answers" class="answers-container">
            <div class="field" *ngFor="let answerText of answerTexts; let i=index">
                <div class="ui checkbox">
                    <input type="checkbox" formControlName="{{i}}" id="{{i}}" value="{{i}}">
                    <label class="default-cursor">{{answerTexts[i]}} d</label>
                </div>
            </div>
        </div>
        <div class="flex-center">
            <button class="ui button primary" type="submit" [disabled]="!form.valid">Submit answer</button>
        </div>
    </form> 
</div>
