<div class="ui card width-100">
    <div class="content">
      <div *ngIf="scheduled.meeting.topic" 
      class="header topic title"
      [class.text-not-active]="scheduled.canceled">
        {{ scheduled.meeting.topic  }}{{ scheduled.canceled ? ' (Canceled)' : '' }}
      </div>
      <div *ngIf="!scheduled.meeting.topic"
      class="header topic title"
      [class.text-not-active]="scheduled.canceled">
        Meeting {{ scheduled.meeting.id }}{{ scheduled.canceled ? ' (Canceled)' : '' }}
      </div>
      <div *ngIf="isLoading" class="relative">
        <app-spiner size="small"></app-spiner>
      </div>
    </div>
    <div class="content">
      <div class="ui internally celled grid">
        <div *ngIf="scheduled.meeting.description" class="row">
          <div class="column first">
            Description
          </div>
          <div class="ten wide column">
            {{ scheduled.meeting.description }}
          </div>
        </div>
        <div class="row">
          <div class="column first">
            Start at
          </div>
          <div class="ten wide column"
          [class.text-not-active]="scheduled.canceled">
            {{ scheduled.meeting.startTime | date: "dd/MM/yyyy" }}
            at
            {{ scheduled.meeting.startTime | date: "HH:mm" }}
          </div>
        </div>
        <div class="row">
            <div class="column first">
              Creator
            </div>
            <div class="ten wide column">
              <div class="ui list">
                <div class="item">
                    <img
                      class="ui mini circular image"
                      src="{{ scheduled.creator.avatarUrl }}"
                    />
                    <div class="content" 
                    [class.text-not-active]="scheduled.canceled">
                      <div class="ui sub header"
                      [class.text-not-active]="scheduled.canceled">
                        {{
                            scheduled.creator.secondName
                            ? scheduled.creator.firstName +
                              " " +
                              scheduled.creator.secondName
                            : scheduled.creator.firstName
                        }}
                      </div>
                      {{ scheduled.creator.email }}
                    </div>
                  </div>
                </div>
            </div>
          </div>
        <div class="row" *ngIf="scheduled.participants?.length > 0">
          <div
            class="column first"
          >
            Participants
          </div>
          <div class="ten wide column">
            <button
              class="ui basic button"
              (click)="areParticipantsVisible = !areParticipantsVisible"
            >
              {{
                areParticipantsVisible ? "Hide participants" : "Show participants"
              }}
              ({{ scheduled.participants?.length }})
            </button>
            <div *ngIf="scheduled.creator.email === authService.currentUser.email" class="add-participants">
              <span
                data-tooltip="Add participants"
                data-position="right center"
              >
              <i
                class="user plus icon"
                (click)="addParticipants()"
              ></i>
              </span>
            </div>
            <div class="ui list" *ngIf="areParticipantsVisible">
              <div class="item" *ngFor="let participant of scheduled.participants">
                <img
                  class="ui mini circular image"
                  src="{{ participant.avatarUrl }}"
                />
                <div class="content">
                  <div class="ui sub header">
                    {{
                      participant.secondName
                        ? participant.firstName +
                          " " +
                          participant.secondName
                        : participant.firstName
                    }}
                  </div>
                  {{ participant.email }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!scheduled.canceled">
          <div class="actions" *ngIf="!isLoading">
            <button
            *ngIf="isCurrentUserHost"
            class="ui basic button"
            (click)="cancelMeeting()"
            >
            Cancel
            </button>   
            <button
            class="ui basic button"
            (click)="copyLink()"
            >
            Copy link
            </button>
            <button
            class="ui primary button"
            (click)="join()"
            [disabled]="isDisabled"
            >
            Join Meeting
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  