<div class="ui card">
  <div
    class="image"
    [ngClass]="data.isVideoEnabled ? 'without-background' : addAvatar()"
  >
    <video
      class="video"
      autoplay
      [ngClass]="data.isVideoEnabled ? 'visible' : 'hidden'"
      [muted]="data.isCurrentUser ? 'muted' : ''"
    ></video>
    <p
      class="participant-initials"
      [ngClass]="data.isVideoEnabled ? 'hidden' : 'visible'"
    ></p>
  </div>
  <div class="content">
    <div class="participant-name-wrapper">
      <i
        class="microphone icon"
        *ngIf="!data.isAudioEnabled || data.isCurrentUser || data.isUserHost"
        [ngClass]="data.isAudioEnabled ? 'blue' : 'red'"
        [class.slash]="
          (!isMicrophoneHovered && !data.isAudioEnabled) ||
          (isMicrophoneHovered &&
            !data.isCurrentUser &&
            isMicrophoneHovered &&
            !data.isUserHost)
        "
        (mouseenter)="isMicrophoneHovered = true"
        (mouseleave)="isMicrophoneHovered = false"
        (click)="
          data.isCurrentUser || data.isUserHost ? toggleMicrophone() : ''
        "
      ></i>
      <a class="header"></a>
    </div>
    <i class="small blue ellipsis vertical icon"></i>
  </div>
</div>
<div class="current-user-actions">
  <ul>
    <li (click)="toggleMicrophone()">
      {{ data.isAudioEnabled ? "Mute My Audio" : "Unmute My Audio" }}
    </li>
    <li (click)="toggleCamera()">
      {{ data.isVideoEnabled ? "Stop Video" : "Start Video" }}
    </li>
    <li (click)="pinVideo()">Pin Video</li>
    <li (click)="hideCurrentCard()">Hide Self View</li>
  </ul>
</div>
<div class="other-participant-actions">
  <ul>
    <li (click)="pinVideo()">Pin Video</li>
    <li *ngIf="data.isUserHost" (click)="toggleCamera()">Stop Video</li>
    <li
      *ngIf="data.isUserHost && data.isAudioEnabled"
      (click)="toggleMicrophone()"
    >
      Mute Audio
    </li>
  </ul>
</div>
