<div class="ui card">
  <div
    class="image"
    [ngClass]="dynamicData.isVideoActive ? 'without-background' : ''"
  >
    <video
      class="video"
      autoplay
      [ngClass]="dynamicData.isVideoActive ? 'visible' : 'hidden'"
      [muted]="data.isCurrentUser ? 'muted' : ''"
    ></video>
    <p
      class="participant-initials"
      [ngClass]="dynamicData.isVideoActive ? 'hidden' : 'visible'"
    ></p>
  </div>
  <div class="content">
    <div class="participant-name-wrapper">
      <i
        *ngIf="dynamicData.isAudioAllowed || dynamicData.isUserHost"
        class="microphone icon"
        [ngClass]="dynamicData.isAudioActive ? '' : 'red'"
        [class.cursor-pointer]="
          (dynamicData.isAudioAllowed &&
            data.currentStreamId === meetingHolder.streamId) ||
          (meetingHolder.role === 1 &&
            data.currentStreamId === meetingHolder.streamId)
        "
        [class.slash]="!dynamicData.isAudioActive"
        [class.micro-pulse]="data.volume > 1"
        (click)="
          data.isCurrentUser || dynamicData.isUserHost ? toggleMicrophone() : ''
        "
      ></i>
      <span
        *ngIf="!dynamicData.isAudioAllowed && !dynamicData.isUserHost"
        data-tooltip="Disabled by the Host"
        data-position="top left"
      >
        <i class="microphone slash icon"></i>
      </span>
      <a class="header"></a>
    </div>
    <i class="small blue ellipsis vertical icon"></i>
  </div>
</div>
<div class="current-user-actions">
  <ul>
    <li (click)="toggleMicrophone()">
      {{ dynamicData.isAudioActive ? "Mute My Audio" : "Unmute My Audio" }}
    </li>
    <li (click)="toggleCamera()">
      {{ dynamicData.isVideoActive ? "Stop Video" : "Start Video" }}
    </li>
    <li (click)="pinVideo()">Pin Video</li>
    <li (click)="hideCurrentCard()">Hide Self View</li>
  </ul>
</div>
<div class="other-participant-actions">
  <ul>
    <li (click)="pinVideo()">Pin Video</li>
    <li
      *ngIf="meetingHolder.role === 1"
      (click)="switchMediaPermissionAsHost(true)"
    >
      {{ dynamicData.isVideoAllowed ? "Disable Video" : "Enable Video" }}
    </li>
    <li
      *ngIf="meetingHolder.role === 1"
      (click)="switchMediaPermissionAsHost(false)"
    >
      {{ dynamicData.isAudioAllowed ? "Disable Audio" : "Enable Audio" }}
    </li>
  </ul>
</div>
