<div *ngIf="isShowChat" class="chat">
    <div class="comments">
    </div>

    <div class="ui input">
        <input type="text" placeholder="Your message...">
    </div>
</div>

<div class="content" >
    <div *ngIf="isShowParticipants" class="ui participants-container">
        <div class="ui divided list">
            <div *ngFor="let user of users" class="ui item participant">    
                <img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png">
                <span>{{user}}</span>
            </div>
        </div>
    </div>
    <div class="users">
        <div class="users__user" *ngFor="let user of users;">
            <div class="ui card">
                <div class="image">
                  <img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png">
                </div>
                <div class="content">
                  <a class="header">{{user}}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="options">
        <div class="ui container options__buttons">
            <div>
                <i style="opacity: 0.8;" class="big microphone icon"></i>
                <i style="margin-left: 10px; opacity: 0.8;" class="big video icon"></i>
            </div>
            
            <div class="display-flex">
                <div class="participants-button-container">
                    <div class="relative-container">
                        <i class="users icon big users-icon-fix" (click)="isShowParticipants = !isShowParticipants"></i>
                    </div>    
                </div>
                <i style="margin-left: 10px; opacity: 0.8;" class="big share square icon"></i>
                <i (click)="isPollCreating = !isPollCreating" class="big clipboard list icon"></i>
                <i (click)="showChat()" style="opacity: 0.8;" class="big wechat icon"></i>
            </div>
            <div>
                <button class="ui inverted red button">Leave</button>
            </div>
        </div>
    </div>
</div>

<div class="poll-create-container" *ngIf="isPollCreating">
    <app-poll-create [meetingId]="meeting.id" (pollCreated)="isPollCreating = false"></app-poll-create>
</div>

<div class="poll-create-container" *ngIf="isShowPoll">
    <app-poll [poll]="poll"></app-poll>
</div>