<spiner *ngIf="isMeetingLoading" size="'massive'"></spiner>
<div *ngIf="isWaitingForRecord" class="notification">
  <p>Waiting record...</p>
</div>

<div *ngIf="isSomeoneRecordingScreen" class="notification">
  <p>Conference is recording</p>
</div>

<div #mainArea class="bg-white">
  <div class="content display-flex">
    <div class="tools" ngDraggable [handle]="handleHand">
      <div #handleHand class="drag-icon">
        <i class="ellipsis vertical icon"></i>
        <i class="ellipsis vertical icon"></i>
      </div>
      <span
        *ngIf="meeting?.isAudioAllowed || currentParticipant?.role === 1"
        data-tooltip="Toggle Microphone"
        data-position="top left"
      >
        <i
          id="meeting-draggable-mute"
          *ngIf="!isMicrophoneMuted"
          class="big microphone icon block"
          (click)="toggleMicrophone()"
        ></i>
        <i
          id="meeting-draggable-mute"
          *ngIf="isMicrophoneMuted"
          class="big slash microphone icon block"
          (click)="toggleMicrophone()"
        ></i>
      </span>
      <span
        *ngIf="!meeting?.isAudioAllowed && currentParticipant?.role !== 1"
        data-tooltip="Disabled by the Host"
        data-position="top left"
      >
        <i class="big slash microphone icon block"></i>
      </span>
      <span
        *ngIf="meeting?.isVideoAllowed || currentParticipant?.role === 1"
        data-tooltip="Toggle Webcam"
        data-position="top left"
      >
        <i
          id="meeting-draggable-camera"
          *ngIf="!isCameraMuted"
          class="big video icon block"
          (click)="toggleCamera()"
        ></i>
        <i
          id="meeting-draggable-camera"
          *ngIf="isCameraMuted"
          class="big eye slash icon block"
          (click)="toggleCamera()"
        ></i>
      </span>
      <span
        *ngIf="!meeting?.isVideoAllowed && currentParticipant?.role !== 1"
        data-tooltip="Disabled by the Host"
        data-position="top left"
      >
        <i class="big eye slash icon block"></i>
      </span>
      <span data-tooltip="Participants" data-position="top left">
        <i
          id="meeting-draggable-participants"
          class="users icon big block"
          (click)="isShowParticipants = !isShowParticipants"
        ></i>
      </span>
      <span data-tooltip="Polls">
        <i
          #pollsButtonFullscreen
          id="meeting-draggable-poll"
          (click)="pollService.onPollIconClick()"
          class="big clipboard list icon block"
        ></i>
      </span>
      <span data-tooltip="Statistics" data-position="top right">
        <i
          #statisticsButton
          id="meeting-draggable-statistics"
          (click)="onStatisticsIconClick()"
          class="big chart bar icon block"
        ></i>
      </span>
      <span data-tooltip="Chat" data-position="top right">
        <i
          id="meeting-draggable-chat"
          (click)="showChat()"
          class="big wechat icon block"
        ></i>
      </span>
      <span data-tooltip="Add Reactions" data-position="top right">
        <i
          #reactionsButtonFullscreen
          (click)="onReactionsIconClick()"
          class="big thumbs up large icon block"
        ></i>
      </span>
      <span data-tooltip="Show Self View" data-position="top right">
        <i
          id="meeting-draggable-create"
          (click)="createParticipantCard(currentParticipant, true)"
          (click)="isShowCurrentParticipantCard = true"
          *ngIf="!isShowCurrentParticipantCard"
          class="big user plus icon block"
        ></i>
      </span>
      <span data-tooltip="Quit fullscreen" data-position="top right">
        <i
          id="meeting-draggable-fullscrean"
          (click)="closeFullscreen()"
          class="big compress icon block big-left-margin"
        ></i>
      </span>
    </div>
    <div *ngIf="isShowParticipants" class="ui participants-container">
      <div class="invite-icon-container">
        <span
          class="invite-tooltip"
          data-tooltip="Invite users"
          data-position="left center"
          *ngIf="!isRoom"
        >
          <i
            class="user plus icon"
            [disabled]="isAddParticipantDisabled"
            (click)="openInviteUsersModal()"
          ></i>
        </span>
      </div>
      <div class="participants-wrapper">
        <div class="ui middle aligned selection list">
          <a
            *ngFor="let participant of meeting?.participants"
            class="item participant"
          >
            <img
              class="ui avatar image"
              src="{{ participant.user.avatarUrl }}"
            />
            <div class="user-label">
              {{ participant.user.firstName }}
              {{
                participant.user.secondName ? participant.user.secondName : ""
              }}
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="options">
        <div class="ui options__buttons">
          <div class="inner-block">
            <span
              *ngIf="
                !isScreenRecording &&
                (meeting?.isAudioAllowed || currentParticipant?.role === 1)
              "
              data-tooltip="Toggle Microphone"
              data-position="top left"
            >
              <i
                id="meeting-options-microphone"
                *ngIf="!isMicrophoneMuted"
                class="big microphone icon"
                (click)="toggleMicrophone()"
              ></i>
              <i
                id="meeting-options-microphone"
                *ngIf="isMicrophoneMuted"
                class="big slash microphone icon"
                (click)="toggleMicrophone()"
              ></i>
            </span>
            <span
              *ngIf="!meeting?.isAudioAllowed && currentParticipant?.role !== 1"
              data-tooltip="Disabled by the Host"
              data-position="top left"
            >
              <i class="big slash microphone icon"></i>
            </span>
            <span data-tooltip="Settings">
              <i
                class="angle up icon"
                *ngIf="!isMicrophoneMuted"
                (click)="showAudioSettings()"
              ></i>
            </span>
            <span
              *ngIf="
                !isScreenRecording &&
                (meeting?.isVideoAllowed || currentParticipant?.role === 1)
              "
              data-tooltip="Toggle Webcam"
            >
              <i
                id="meeting-options-camera"
                *ngIf="!isCameraMuted"
                class="big video icon big-left-margin"
                (click)="toggleCamera()"
              ></i>
              <i
                id="meeting-options-camera"
                *ngIf="isCameraMuted"
                class="big eye slash icon big-left-margin"
                (click)="toggleCamera()"
              ></i>
            </span>
            <span
              *ngIf="!meeting?.isVideoAllowed && currentParticipant?.role !== 1"
              data-tooltip="Disabled by the Host"
              data-position="top left"
            >
              <i class="big eye slash icon big-left-margin"></i>
            </span>
            <span data-tooltip="Settings">
              <i
                class="angle up icon"
                *ngIf="!isCameraMuted"
                (click)="showVideoSettings()"
              ></i>
            </span>
          </div>

          <div class="display-flex inner-block">
            <span
              *ngIf="isHost"
              data-tooltip="Meeting settings"
              data-position="top left"
            >
              <i
                #settingsButton
                id="meeting-settings"
                (click)="onMeetingSettingClick()"
                class="big cogs icon"
              ></i>
            </span>
            <span
                data-tooltip="Participants"
                data-position="top left"
              >
                <i
                  id="meeting-options-participants"
                  class="big users icon small-left-margin"
                  (click)="isShowParticipants = !isShowParticipants"
                ></i>
            </span>
            <span
              *ngIf="!isScreenRecording"
              data-tooltip="Start Recording"
              data-position="top left"
            >
              <i
                id="meeting-options-recording"
                (click)="startRecording()"
                class="big circle icon"
              ></i>
            </span>
            <span
              *ngIf="isScreenRecording"
              data-tooltip="Stop Recording"
              data-position="top left"
            >
              <i
                id="meeting-options-recording"
                (click)="stopRecording()"
                class="big stop circle icon"
              ></i>
            </span>
            <span data-tooltip="Share Screen" data-position="top left">
              <i
                id="meeting-options-share"
                class="big share square icon"
                (click)="shareScreen()"
                *ngIf="!isSharing"
              ></i>
            </span>
            <span data-tooltip="Share Screen Stop" data-position="top left">
              <i
                class="big stop icon"
                *ngIf="isSharing"
                (click)="removeSharingVideo()"
              ></i>
            </span>
            <span data-tooltip="Polls">
              <i
                #pollsButton
                id="meeting-options-poll"
                (click)="onPollIconClick()"
                class="big clipboard list icon"
              ></i
            ></span>
            <span data-tooltip="Statistics" *ngIf="!isRoom">
              <i
                #statisticsButtonFullscreen
                id="meeting-options-statistics"
                (click)="onStatisticsIconClick(); $event.stopPropagation()"
                class="big chart bar icon"
              ></i
            ></span>
            <span data-tooltip="Copy Link">
              <i
                id="meeting-options-copy"
                (click)="onCopyIconClick()"
                class="big copy icon"
              ></i>
            </span>
            <span data-tooltip="Chat">
              <i
                id="meeting-options-chat"
                (click)="showChat()"
                [ngClass]="{
                  pulse: isNewMsg,
                  bluePulse: questionService.isNewQuestion
                }"
                class="big wechat icon"
              ></i>
            </span>
            <span
              data-tooltip="Whiteboard"
              data-position="top right"
              [ngClass]="{ pulse: checkDrawing() }"
            >
              <i #whiteboardButton (click)="showCanvas()" class="big paint brush icon"></i>
            </span>
            <span data-tooltip="Add Reactions" data-position="top right">
              <i
                #reactionsButton
                (click)="onReactionsIconClick()"
                class="big thumbs up large icon"
              >
              </i>
            </span>
            <span
              data-tooltip="Divide participants into rooms"
              data-position="top right"
              *ngIf="isHost || meeting?.isAllowedToChooseRoom"
            >
              <i
                (click)="openRoomsModal()"
                class="big user th large icon"
              >
              </i>
            </span>
            <span
              data-tooltip="Plan Meeting"
              data-position="top right"
            >
              <i
                #agendaButton
                class="big list alternate icon"
                (click)="onAgendaClick()"
                [ngClass]="{pulse: isTopicEnd}"
              ></i>
            </span>
            <span 
              *ngIf="!isShowCurrentParticipantCard"
              data-tooltip="Show Self View"
              data-position="top right"
            >
              <i
                id="meeting-options-create"
                (click)="createParticipantCard(currentParticipant, true)"
                (click)="isShowCurrentParticipantCard = true"
                class="big user plus icon"
              ></i>
            </span>
            <span data-tooltip="Fullscreen" data-position="top right">
              <i
                id="meeting-options-fullscreen"
                (click)="goFullscreen()"
                class="big expand icon big-left-margin"
              ></i>
            </span>
          </div>
          <div>
            <button
              id="meeting-options-leave"
              class="ui red button"
              (click)="leave()"
            >
              Leave
            </button>
          </div>
        </div>
      </div>
      <div
        #whiteboard
        class="canvas"
        *ngIf="canvasIsDisplayed"
        ngDraggable
        [handle]="draggableHeader"
      >
        <div #draggableHeader class="whiteboard-header">
          <div class="whiteboard-title">Whiteboard {{ whiteboardDisable }}</div>
        </div>
        <div class="whiteboard-buttons">
          <i
            *ngIf="!isWhiteboardFullScreen"
            (click)="whiteboardFullscreen(); $event.stopPropagation()"
            class="expand icon"
          ></i>
          <i
            *ngIf="isWhiteboardFullScreen"
            (click)="whiteboardFullscreen(); $event.stopPropagation()"
            class="compress icon"
          ></i>
          <i (click)="showCanvas()" class="times icon"></i>
        </div>
        <div class="board" *ngIf="!meeting.isWhiteboard || isHost">
          <canvas-whiteboard
            #canvasWhiteboard
            [options]="canvasOptions"
            (onBatchUpdate)="onCanvasDraw($event)"
            (onClear)="onCanvasClear()"
          >
          </canvas-whiteboard>
        </div>
        <div class="board" *ngIf="meeting.isWhiteboard && !isHost">
          <canvas-whiteboard
            #canvasWhiteboard
            [options]="canvasOptionsDisable"
            (onBatchUpdate)="onCanvasDraw($event)"
            (onClear)="onCanvasClear()"
          >
          </canvas-whiteboard>
        </div>
      </div>
      <div
        [ngClass]="isCardPinned ? 'users-slider' : 'users-container'"
        [class.users-slider-row]="isCardPinned && pinnedCardsLayout === 0"
        [class.users-slider-column]="isCardPinned && pinnedCardsLayout === 1"
        *ngIf="
          (mediaData.length > 1 ||
          (mediaData.length === 1 &&
            mediaData[0].id !== currentParticipant.id) ||
          (mediaData.length === 1 && isCardPinned)) &&
          !isSharing
        "
      >
        <div
          #cardsLayout
          (mouseenter)="onCardsLayoutMouseEnter()"
          [class.cards-wrapper]="!isCardPinned"
          [class.small-cards-wrapper-row]="isCardPinned && pinnedCardsLayout === 0"
          [class.small-cards-wrapper-column]="isCardPinned && pinnedCardsLayout === 1"
        >
          <div class="fake-margin"></div>
          <app-participant-card
          #participantCard
          [ngClass]="
            isCardPinned ? 'participant-card-small' : 'participant-card'
          "
          *ngFor="let data of mediaData"
          (hideViewEvent)="hideViewEventHandler($event)"
          (toggleMicrophoneEvent)="
            currentParticipant.id === $event ? toggleMicrophone() : ''
          "
          (toggleCameraEvent)="
            currentParticipant.id === $event ? toggleCamera() : ''
          "
          (switchMediaPermissionAsHostEvent)="
            switchParticipantMediaAsHost($event)
          "
          (pinVideoEvent)="pinCard($event)"
          [data]="data"
          [meetingHolder]="currentParticipant"
          [meetingId]="meeting.id"
        >
          </app-participant-card>
          <div
        #cardsLayoutMenu
        [ngClass]="pinnedCardsLayout === 0 ? 'cards-position-icons-row' : 'cards-position-icons-column'" 
        [class.cards-position-icons-row-sticky]="pinnedCardsLayout === 0 && pinnedLayoutMenuSticky"
        *ngIf="isCardPinned">
        <span
          *ngIf="pinnedCardsLayout === 0"
          data-tooltip="To Right Column"
          data-position="bottom right"
        >
          <i class="arrows alternate vertical icon"
            (click)="setPinnedCardsLayout(1)"
          ></i>
        </span>
        <span
          *ngIf="pinnedCardsLayout === 1"
          data-tooltip="To Top Row"
          data-position="bottom right"
        >
          <i class="arrows alternate horizontal icon small-left-margin"
            (click)="setPinnedCardsLayout(0)"
          ></i>
        </span>
        <span data-tooltip="Unpin" data-position="bottom right">
          <i 
            class="table icon" 
            [class.small-left-margin]="pinnedCardsLayout === 1"
            (click)="unpinCard()"></i>
        </span>
          </div>
        </div>
      </div>
      <img
        *ngIf="(isCameraMuted && mediaData.length <= 1 && !isCardPinned) ||
          (isCardPinned && !isPinnedVideoActive)"
        [src]="isCardPinned ? pinnedParticipant?.user?.avatarUrl : currentParticipant?.user?.avatarUrl"
        class="big-avatar"
        [class.big-avatar-pinned]="isCardPinned"
      />
      <video
        #currentVideo
        autoplay="autoplay"
        class="participant-fullscreen"
        [hidden]="
          ((mediaData.length > 1 ||
          (mediaData.length === 1 &&
          mediaData[0].id !== currentParticipant.id) ||
          isCameraMuted) &&
          !isCardPinned) || (isCardPinned && !isPinnedVideoActive)
        "
        [muted]="!isCardPinned || pinnedParticipant.streamId === currentParticipant.streamId"
      ></video>
      <div 
        class="pinned-reaction" 
        [ngClass]="pinnedCardsLayout === 0 ? 'pinned-reaction-row' : 'pinned-reaction-column'"
        *ngIf="pinnedReaction"
      >
        {{ pinnedReaction }}
      </div>
      <div class="pinned-participant-info" *ngIf="isCardPinned && pinnedParticipant.streamId !== currentParticipant.streamId">
        <div class="participant-name-wrapper">
          <i
            *ngIf="isPinnedAudioAllowed || pinnedParticipant.role === 1"
            class="microphone icon default-cursor"
            [class.micro-pulse]="pinnedVolume > 20"
            [ngClass]="isPinnedAudioActive ? '' : 'red'"
            [class.slash]="!isPinnedAudioActive"
          ></i>
          <span
            *ngIf="!isPinnedAudioAllowed && pinnedParticipant?.role !== 1"
            data-tooltip="Disabled by the Host"
            data-position="top left"
          >
            <i class="microphone slash icon default-cursor"></i>
          </span>
          <span
            *ngIf="!isPinnedVideoAllowed && pinnedParticipant?.role !== 1"
            data-tooltip="Disabled by the Host"
            data-position="top left"
          >
            <i class="eye slash icon default-cursor"></i>
          </span>
          <p class="header" [class.inverted-text]="pinnedParticipant.role === 1">  
            {{ pinnedParticipant?.user?.firstName }}
            {{ pinnedParticipant?.user?.secondName }}
          </p>
        </div>
      </div>

      <div class="settings" *ngIf="isVideoSettings && !isCameraMuted">
        <app-video-settings
          (clickEmited)="changeStateVideo($event)"
        ></app-video-settings>
      </div>
      <div class="settings" *ngIf="isAudioSettings && !isMicrophoneMuted">
        <app-audio-settings
          (clickEmited)="changeInputDevice($event)"
        ></app-audio-settings>
        <app-output-settings
          (clickEmited)="changeOutputDevice($event)"
        ></app-output-settings>
      </div>
    </div>
    <div *ngIf="isShowChat" class="ui chat card">
      <div class="ui buttons">
        <button
          class="ui button"
          [ngClass]="{
            pulse: isNewMsg || newMsgFrom.includes('') || newMsgFrom.length > 0,
            active: isChat
          }"
          (click)="switchToChat()"
        >
          Chat
        </button>
        <button
          class="ui button"
          [ngClass]="{
            bluePulse: questionService.isNewQuestion,
            active: questionService.areQuestionsOpened
          }"
          (click)="switchToQuestions()"
        >
          Q<small>&</small>A
        </button>
      </div>
      <div *ngIf="isChat" class="ui chat-inner feed" #meetingChat>
        <div
          *ngFor="let message of selectedMessages"
          class="event message-event"
        >
          <div class="label">
            <img src="{{ message?.author?.avatarUrl }}" />
          </div>
          <div class="chat-content">
            <div class="summary">
              <a class="user message">
                {{ message?.author?.firstName }}
                {{ message?.author?.secondName }}
              </a>
              <div class="date">
                {{ message?.sentDate | date: "short" }}
              </div>
            </div>
            <div disabled class="message">
              <div *ngFor="let row of splitMessage(message?.message)">
                {{ row }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="questionService.areQuestionsOpened"
        class="ui chat-inner feed"
      >
        <div *ngFor="let question of questionService.questions" #question>
          <app-question
            [question]="question"
            [isHost]="currentParticipant.role"
            (statusChanged)="questionService.sendQuestionStatusUpdate($event)"
            (questionDeleted)="questionService.sendQuestionDelete($event)"
          >
          </app-question>
        </div>
      </div>
      <div class="ui form vertically-aligned">
        <div *ngIf="isChat" class="ui right labeled input receiver-select-container">
          <label for="receiver" class="ui label">Send To:</label>
          <select
            class="ui compact selection dropdown"
            [class.border-pulse]="newMsgFrom.length > 0"
            id="receiver"
            [(ngModel)]="msgReceiverEmail"
            (change)="receiverChanged()"
          >
            <option value="" [class.pulse]="newMsgFrom.includes('')"
              >Everyone
            </option>
            <option
              *ngFor="let p of otherParticipants"
              [value]="p.user.email"
              [class.pulse]="newMsgFrom.includes(p.user.email)"
              >{{ p.user.firstName }} {{ p.user.secondName }}</option
            >
          </select>
        </div>
        <div
          *ngIf="questionService.areQuestionsOpened"
          class="qa-anonymous-checkbox"
        >
          <div class="ui checkbox">
            <input
              id="questions-anonymous-checkbox"
              type="checkbox"
              name="example"
              [(ngModel)]="questionService.createAnonymously"
            />
            <label for="questions-anonymous-checkbox" class="default-cursor"
              >Send anonymously</label
            >
          </div>
        </div>

        <div class="ui icon input">
          <textarea
            (keydown.enter)="onEnterKeyPress($event)"
            rows="1"
            placeholder="Enter to send.
Enter+Shift for new line."
            [(ngModel)]="msgText"
            required
          >
          </textarea>
          <button
            class="sendMessage"
            (click)="sendMessage()"
            [disabled]="msgText === ''"
          >
            <i
              id="meeting-sendmessage"
              aria-hidden="true"
              class="paper plane link icon blue"
            ></i>
          </button>
        </div>
      </div>
    </div>
    <div #statistics class="poll-create-container" *ngIf="isShowStatistics">
      <app-meeting-statistics
        [statistic]="meetingStatistics"
      ></app-meeting-statistics>
    </div>
    <div #reactions class="poll-create-container" *ngIf="isShowReactions">
      <app-reactions (reaction)="onReaction($event)"></app-reactions>
    </div>
    <div
      class="ui poll-create-container overflow-scroll segment"
      *ngIf="pollService.isPollCreating"
    >
      <app-poll-create
        [meetingId]="meeting.id"
        (pollCreated)="
          pollService.onPollCreated(
            $event,
            connectionData.meetingId,
            connectionData.userEmail
          )
        "
      ></app-poll-create>
    </div>
    <div
      #polls
      class="ui poll-create-container overflow-scroll segment"
      *ngIf="pollService.isShowPoll"
    >
      <button
        id="meeting-poll-new"
        *ngIf="!meeting.isPoll || isHost"
        (click)="pollService.onNewPollClick()"
        class="ui button"
        id="new-poll-btn"
      >
        New poll
      </button>
      <div
        data-tooltip="Disabled by Host"
        data-position="bottom left"
        *ngIf="meeting.isPoll && !isHost"
      >
        <div class="ui disabled button">
          New poll
        </div>
      </div>
      <div class="ui segment">
        <!--POLLS CONTAINER -->
        <h3>Polls</h3>
        <div *ngFor="let pollx of pollService.polls; let i = index">
          <hr class="poll-divider" />
          <span
            id="meeting-poll-delete"
            *ngIf="isHost"
            class="delete-poll-icon"
            (click)="pollService.onDeletePollIconClick(pollx)"
          >
            &times;
          </span>
          <app-poll
            [poll]="pollx"
            [user]="currentParticipant.user"
            (pollAnswered)="pollService.onPollAnswered($event)"
          >
          </app-poll>
        </div>
      </div>
      <div class="ui segment">
        <h3>Results</h3>
        <div *ngFor="let pollxResult of pollService.pollResults; let i = index">
          <hr class="poll-divider" />
          <span
            id="meeting-poll-result"
            *ngIf="currentParticipant.role == 1"
            class="delete-poll-icon"
            (click)="
              pollService.onDeletePollResultIconClick(pollxResult, meeting.id)
            "
          >
            &times;
          </span>
          <app-poll-results [pollResult]="pollxResult"></app-poll-results>
        </div>
      </div>
    </div>
    <div #agenda class="agenda-container">
      <app-agenda [agenda]="topicList" *ngIf="isPlanning"></app-agenda>
    </div>
    <div
      #settings
      class="ui meeting-setting-container overflow-scroll segment"
      *ngIf="isShowMeetingSettings"
    >
      <!--SETTINGS CONTAINER -->
      <h3>Meeting settings</h3>
      <app-setting-meeting [meeting]="meeting"> </app-setting-meeting>
    </div>
  </div>
</div>
