<div
  class="ui container segment"
>
    <div class="ui header">
        <h2 class="center aligned header">Statistics</h2>
        <div
        class="close-icon-container"
        data-tooltip="Close"
        data-position="left center"
        >
        <i id="history-close" class="large close icon" (click)="close()"></i>
        </div>
    </div>

    <iframe src="http://localhost:5601/app/kibana#/dashboard/6671b830-ed65-11ea-a78c-d18762958d93?embed=true&_g=(refreshInterval:(pause:!t,value:0),time:(from:now-10d,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(legendOpen:!t,vis:(legendOpen:!f)),gridData:(h:15,i:b1121040-a544-4e30-af5e-7a592a7d0da8,w:48,x:0,y:0),id:'97befc50-ed64-11ea-a78c-d18762958d93',panelIndex:b1121040-a544-4e30-af5e-7a592a7d0da8,type:visualization,version:'7.6.2')),query:(language:kuery,query:''),timeRestore:!f,title:Statistics,viewMode:view)" height="600" width="100%"></iframe>
</div>