div.ui.card.width-100
    min-width: 100% 

.ui.segment
   left: 10px
   height: 100%
   width: 100%

.ui.header
    display: flex
    justify-content: space-between
    margin-bottom: 18px

.close-icon-container
    display: flex
    align-items: center
    margin-bottom: 10px
    font-size: 1rem

.close.icon
    cursor: pointer

.ui.row
    display: flex
    align-items: center

.ui.row-date
    display: grid
    grid-template-columns: 1fr auto
    align-items: center
    .dates-input
        display: flex
        align-items: center
        span
            margin-right: 10px
        dp-date-picker
            margin-right: 20px

select
    box-shadow: 0 2px 3px rgba(#DDDDDF, 0.1) inset
    border: none
    border-radius: 10px
    
.custom-select select 
    appearance: none
    display: flex
    justify-content: space-between
    padding: .67857143em 1em
    line-height: 1.21428571em
    font-size: 1em
    box-shadow: 0 2px 3px rgba(#DDDDDF, 0.1) inset
    border: none
    border-radius: 6px
    width: 120px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

select:hover
    cursor: pointer

.custom-select:after
    content: '<>'
    visibility: visible
    -webkit-transform: rotate(90deg)
    -moz-transform: rotate(90deg)
    position: relative
    top: 12px
    right: 7px
    pointer-events: none
    width: 0px
   
.action
    display: flex
    flex-direction: column
    justify-content: space-between

.container
    display: flex !important
    flex-direction: column !important

.custom-select
    margin: 20px !important
    margin-right: 0px

.chart-wrapper
    min-height: 450px

.tooltip-label-color
    border-radius: 3px
    color: #5b646b
    display: inline-block
    height: 15px
    margin-right: 5px
    width: 15px


.tooltip-model
    display: grid
    text-align: left
    align-items: center
    grid-template-columns: auto 1fr auto
    .last
        margin-left: 10px

.text-center
    margin: 20px
    text-align: center

.ui.card
    box-sizing: border-box
    min-width: 100%
    min-height: 200px
    padding: 20px

.ui.statistics
    align-content: center
    justify-content: center
    align-items: flex-end

@media only screen and (max-width: 1300px)
    .statistics-wrapper
        grid-template-columns: auto
        grid-template-rows: auto 1fr 1fr 1fr


.rw-statistics 
    .ui.statistics
        position: absolute
        top: 80px
        left: 0%
        right: 0%
        opacity: 0
        overflow: hidden
        -webkit-animation: rotateStatistic 20s linear infinite 0s
        -ms-animation: rotateStatistic 20s linear infinite 0s
        animation: rotateStatistic 20s linear infinite 0s

.rw-statistics .ui.statistics:nth-child(2)
    -webkit-animation-delay: 5s
    -ms-animation-delay: 5s
    animation-delay: 5s

.rw-statistics .ui.statistics:nth-child(3)
    -webkit-animation-delay: 10s
    -ms-animation-delay: 10s
    animation-delay: 10s

.rw-statistics .ui.statistics:nth-child(4)
    -webkit-animation-delay: 15s
    -ms-animation-delay: 15s
    animation-delay: 15s

@-webkit-keyframes rotateStatistic
    0%
        opacity: 0
    1%
        opacity: 0
        -webkit-transform: translateY(-30px)
    3%
        opacity: 1
        -webkit-transform: translateY(0px)
    22%
        opacity: 1
        -webkit-transform: translateY(0px)
    25%
        opacity: 0
        -webkit-transform: translateY(30px)
    80%
        opacity: 0
    100%
        opacity: 0

@-ms-keyframes rotateStatistic
    0%
        opacity: 0
    1%
        opacity: 0
        -webkit-transform: translateY(-30px)
    3%
        opacity: 1
        -webkit-transform: translateY(0px)
    22%
        opacity: 1
        -webkit-transform: translateY(0px)
    25%
        opacity: 0
        -webkit-transform: translateY(30px)
    80%
        opacity: 0
    100%
        opacity: 0

@keyframes rotateStatistic
    0%
        opacity: 0
    1%
        opacity: 0
        -webkit-transform: translateY(-30px)
    3%
        opacity: 1
        -webkit-transform: translateY(0px)
    22%
        opacity: 1
        -webkit-transform: translateY(0px)
    25%
        opacity: 0
        -webkit-transform: translateY(30px)
    80%
        opacity: 0
    100%
        opacity: 0

.scrollable
    max-height: 100%
    overflow-y: auto
    overflow-x: hidden

ngx-charts-legend-entry
    display: flex
    align-items: center