div.ui.card.width-100
    width: 100%

.ui.segment
   left: 10px
   width: 100%    

.ui.header
    display: flex
    justify-content: space-between
    margin-bottom: -18px

.relative
    margin-top: 50px
    height: 100px

.close-icon-container
    display: flex
    align-items: center
    margin-bottom: 10px
    font-size: 1rem

.close.icon
    cursor: pointer