<div
  class="ui container segment"
>
    <div class="ui header">
        <h2 class="center aligned header">Statistics</h2>
        <div
        class="close-icon-container"
        data-tooltip="Close"
        data-position="left center"
        >
        <i id="history-close" class="large close icon" (click)="close()"></i>
        </div>
    </div>

    <ejs-chart [title]='chartTitle' [primaryXAxis]='xAxis' [primaryYAxis]='yAxis' [tooltip]='tooltip'>
      <e-series-collection >
        <e-series type='Line' [dataSource]='data' xName='date' yName='value' [marker]='markerSettings'></e-series>
      </e-series-collection>
    </ejs-chart>
   
</div>