<div
  id="modal-div-close"
  class="ui dimmer modals page visible active"
  (click)="cancel(contactForm.dirty)"
>
  <div class="ui mini modal visible active" (click)="$event.stopPropagation()">
    <div class="header">
      Add new contact
    </div>
    <form class="ui form" #contactForm="ngForm" (ngSubmit)="submit()">
      <div class="content">
        <div class="ui segment">
          <div class="field">
            <label>Contacter Email</label>
            <input
              type="text"
              name="email"
              [(ngModel)]="contactnerEmail"
              #email="ngModel"
              placeholder="Email"
              required
              pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?"
            />
            <div
              class="ui error message"
              *ngIf="email.invalid && email.touched"
            >
              Email invalid
            </div>
            <div class="ui error message" *ngIf="email.value === ownerEmail">
              You cannot add yourself to contacts
            </div>
          </div>
          <button
            id="submit-contact"
            class="ui button primary"
            type="submit"
            [disabled]="contactForm.invalid || ownerEmail === email.value"
          >
            Add
          </button>
          <button
            id="modal-close"
            class="ui button"
            type="button"
            (click)="cancel(contactForm.dirty)"
          >
            Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
