<div
  id="enter-modal-close"
  class="ui dimmer modals page visible active"
  (click)="onProceed()"
>
  <div class="ui mini modal visible active" (click)="$event.stopPropagation()">
    <h3 class="header">Meeting Settings</h3>
    <div class="content">
      <div class="ui form">
        <div class="inline field">
          <div
            *ngIf="isAllowedAudioOnStart || isCurrentParticipantHost"
            id="enter-modal-microphone"
            class="ui toggle checkbox"
            (click)="microphone = !microphone"
          >
            <input
              type="checkbox"
              [checked]="microphone"
              tabindex="0"
              class="hidden"
            />
            <label>Microphone</label>
          </div>
          <div
            *ngIf="!isCurrentParticipantHost && !isAllowedAudioOnStart"
            data-tooltip="Disabled by the Host"
            data-position="top left"
            id="enter-modal-microphone-disabled"
            class="ui toggle checkbox disabled"
          >
            <input
              type="checkbox"
              [checked]="false"
              tabindex="0"
              class="hidden"
            />
            <label>Microphone</label>
          </div>
        </div>
        <div class="inline field">
          <div
            *ngIf="isAllowedVideoOnStart || isCurrentParticipantHost"
            id="enter-modal-webcam"
            class="ui toggle checkbox"
            (click)="webcam = !webcam"
          >
            <input
              type="checkbox"
              [checked]="webcam"
              tabindex="0"
              class="hidden"
            />
            <label>Webcam</label>
          </div>
          <div
            *ngIf="!isCurrentParticipantHost && !isAllowedVideoOnStart"
            data-tooltip="Disabled by the Host"
            data-position="top left"
            id="enter-modal-webcam"
            class="ui toggle checkbox disabled"
          >
            <input
              type="checkbox"
              [checked]="false"
              tabindex="0"
              class="hidden"
            />
            <label>Webcam</label>
          </div>
        </div>
        <div *ngIf="isCurrentParticipantHost">
          <div class="ui divider"></div>
          <div class="ui header">
            <h4>Host Options</h4>
          </div>
          <div class="inline field">
            <span>Meeting Type</span>
            <div class="ui compact menu">
              <div class="ui simple inline dropdown item">
                {{ meetingType }}
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" (click)="switchMeetingTypes(1)">Simple</div>
                  <div class="item" (click)="switchMeetingTypes(2)">Party</div>
                  <div class="item" (click)="switchMeetingTypes(3)">Training</div>
                  <div class="item" (click)="switchMeetingTypes(4)">Lesson</div>
                  <div class="item" (click)="switchMeetingTypes(5)">Conference</div>
                </div>
              </div>
            </div>
            <div class="ui pointing label" *ngIf="switchMeetingTypeLabel">
              {{meetingTypeLabel}}
            </div>
          </div>
          <div class="inline field">
            <div
              id="enter-modal-webcam"
              class="ui toggle checkbox"
              (click)="isAllowedAudioOnStart = !isAllowedAudioOnStart"
            >
              <input
                type="checkbox"
                [checked]="isAllowedAudioOnStart"
                tabindex="0"
                class="hidden"
              />
              <label>Allow participants audio upon entry</label>
            </div>
          </div>
          <div class="inline field">
            <div
              id="enter-modal-webcam"
              class="ui toggle checkbox"
              (click)="isAllowedVideoOnStart = !isAllowedVideoOnStart"
            >
              <input
                type="checkbox"
                [checked]="isAllowedVideoOnStart"
                tabindex="0"
                class="hidden"
              />
              <label>Allow participants video upon entry</label>
            </div>
          </div>
          <div class="inline field">
            <span>Meeting Language</span>
            <div class="ui compact menu">
              <div class="ui simple inline dropdown item">
                {{ recognitionLanguage }}
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" (click)="recognitionLanguage = 'English'">English</div>
                  <div class="item" (click)="recognitionLanguage = 'Russian'">Russian</div>
                  <div class="item" (click)="recognitionLanguage = 'Ukrainian'">Ukrainian</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div id="enter-modal-leave" class="ui button" (click)="onLeave()">
        Leave
      </div>
      <div
        id="enter-modal-proceed"
        class="ui primary button"
        (click)="onProceed()"
      >
        Proceed
      </div>
    </div>
  </div>
</div>
