<div class="ui card" ngDraggable>
  <div class="ui header">{{ groupCall?.group?.label }} group is calling...</div>
  <div class="content">
    <img
      *ngIf="isImageHere()"
      class="ui avatar image"
      src="{{ groupCall.group?.photoUrl }}"
    />
    <img
      *ngIf="!isImageHere()"
      class="ui avatar image"
      src="assets/img/user-group-icon.png"
    />
    <audio src="assets/audio/incoming-call.mp3" autoplay loop></audio>
  </div>

  <div class="icon-wrapper">
    <i
      id="incomingcall-confirm"
      class="phone green circular large icon"
      (click)="confirm()"
    ></i>
    <i
      id="incomingcall-decline"
      class="phone red circular large icon"
      (click)="decline()"
    ></i>
  </div>
</div>
