<div class="content-chat">
    <div class="ui comments">
            <div class="comment" ngFor="let msg of messages">
                <a class="avatar">
                </a>
                <div class="content">
                  <a class="author">Elliot Fu</a>
                  <div class="metadata">
                    <span class="date">Yesterday at 12:30AM</span>
                  </div>
                  <div class="text">
                    <p>This has been very useful for my research. Thanks as well!</p>
                  </div>
                </div>
            </div>
            <form class="ui reply form">
                <div class="field">
                  <input type="text">
                </div>
                <div class="ui blue labeled submit icon button">
                    <i class="paper plane outline icon"></i>
                </div>
            </form>

    </div>
</div>