<div class="ui card content-chat">
  <div  class="ui chat-inner feed">
    <div *ngFor="let user of USERS" class="event">
    <div class="label">
        <img src="{{user.image}}">
    </div>
    <div class="content">
        <div class="summary">
        <a class="user">
            {{user.firstName}} {{user.lastName}}
        </a> 
        <div class="date">
            1 Hour Ago
        </div>
        </div>
        Hi! I am {{user.firstName}} 
    </div>
    </div>
  </div>
  <div class="ui form vertically-aligned">
    <div class="ui icon input">
      <div class="ui icon input">
        <textarea rows="1" placeholder="Message..."></textarea>
        <i aria-hidden="true" class="paper plane link icon blue"></i>
      </div>
      
    </div>
  </div>
</div>