<div
  class="ui container segment"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
>
  <div class="ui header">
    <h2 class="center aligned header">Meeting history</h2>
    <div>
      <i id="history-close" class="large close icon" (click)="close()"></i>
    </div>
  </div>

  <div *ngIf="isMeetingHistoryEmpty" class="meeting-list-empty">
    <p>You don't have any meetings yet</p>
  </div>

  <div>
    <div *ngFor="let meeting of meetings" class="meeting-container">
      <app-meeting-note [meeting]="meeting"></app-meeting-note>
    </div>
    <div *ngIf="ishistoryLoading" class="relative">
      <spiner size="huge"></spiner>
    </div>
  </div>
</div>

<div *ngIf="isScrolled" class="scroll-to-top-button">
  <button (click)="scrollToTop()" class="circular ui icon button">
    <i class="big angle double up icon"></i>
  </button>
</div>
