<app-page-header></app-page-header>
<div class="ui container main-container">
  <div class="ui grid">
    <div class="ui twelve wide column segment margin-auto">
      <h1>Schedule meeting</h1>
      <form class="ui form" [formGroup]="form">
        <div class="ui segment">
          <div class="field">
            <label>Topic</label>
            <input type="text" formControlName="topic" />
          </div>
          <div class="field">
            <label>Description</label>
            <textarea type="text" formControlName="description"></textarea>
          </div>
        </div>

        <div class="ui segment">
          <div class="ten wide field">
            <label>Start</label>
            <div class="fields">
              <div class="field start-input">
                <dp-date-picker
                  [config]="config"
                  theme="dp-material"
                  formControlName="date"
                ></dp-date-picker>
              </div>
              <div class="field start-input">
                <dp-date-picker
                  [config]="timeConfig"
                  mode="time"
                  theme="dp-material"
                  formControlName="time"
                ></dp-date-picker>
              </div>
            </div>
          </div>

          <div class="nine wide field">
            <label>Duration</label>
            <div class="fields">
              <div class="field">
                <div class="ui right labeled input duration-input">
                  <input type="number" formControlName="durationHours" />
                  <div class="ui basic label flex-vertical-center">
                    <span class="text smaller default-cursor">hr</span>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="ui right labeled input duration-input">
                  <input type="number" formControlName="durationMinutes" />
                  <div class="ui basic label flex-vertical-center">
                    <span class="text smaller default-cursor">min</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <div class="field">
            <label>Meeting ID</label>
            <div class="fields">
              <div class="field">
                <div class="ui radio checkbox">
                  <input
                    type="radio"
                    formControlName="isGeneratedMeetingID"
                    id="generatedMeetingID"
                    value="true"
                  />
                  <label for="generatedMeetingID" class="default-cursor"
                    >Generate Automatically</label
                  >
                </div>
              </div>
              <div class="field"></div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input
                    type="radio"
                    formControlName="isGeneratedMeetingID"
                    value=""
                    id="personalMeetingID"
                  />
                  <label for="personalMeetingID" class="default-cursor"
                    >Personal meeting ID (id)</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <div class="field">
            <label>Password</label>
            <div class="inline field">
              <div class="ui checkbox">
                <input
                  type="checkbox"
                  tabindex="0"
                  formControlName="isPasswordEnabled"
                  id="isPasswordEnabled"
                />
                <label for="isPasswordEnabled" class="default-cursor"
                  >Set room password</label
                >
              </div>
            </div>
            <div class="field">
              <div class="ui input">
                <input
                  type="text"
                  placeholder="Password"
                  formControlName="password"
                  [attr.disabled]="
                    form.controls.isPasswordEnabled.value ? null : true
                  "
                />
              </div>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <div class="field">
            <label>Video</label>
            <div class="inline field">
              <div class="ui checkbox">
                <input
                  type="checkbox"
                  tabindex="0"
                  formControlName="isDisableVideo"
                  id="isDisableVideo"
                />
                <label for="isDisableVideo" class="default-cursor"
                  >Disable video upon entry</label
                >
              </div>
            </div>
          </div>
          <div class="field">
            <label>Audio</label>
            <div class="inline field">
              <div class="ui checkbox">
                <input
                  type="checkbox"
                  tabindex="0"
                  formControlName="isDisableAudio"
                  id="isDisableAudio"
                />
                <label for="isDisableAudio" class="default-cursor"
                  >Mute participants upon entry</label
                >
              </div>
            </div>
          </div>
          <div class="field">
            <label>Calendar</label>
            <div class="inline field">
              <div class="ui checkbox">
                <input
                  type="checkbox"
                  tabindex="0"
                  formControlName="saveIntoCalendar"
                  id="saveIntoCalendar"
                />
                <label for="saveIntoCalendar" class="default-cursor"
                  >Save event in google calendar</label
                >
              </div>
            </div>
          </div>
          <div class="field">
            <label>Meeting Language</label>
            <div class="inline field">
              <div class="ui compact menu">
                <div class="ui simple inline dropdown item">
                  {{ recognitionLanguage }}
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item" (click)="recognitionLanguage = 'English'">English</div>
                    <div class="item" (click)="recognitionLanguage = 'Russian'">Russian</div>
                    <div class="item" (click)="recognitionLanguage = 'Ukrainian'">Ukrainian</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <h5>Agenda</h5>
          <div class="agenda" *ngFor="let a of pointList">
            <app-agenda
              [point]="point"
              (tagRemoved)="removeTag($event)"
              (newPoint)="addNewPoint($point)"
            >
            </app-agenda>
          </div>
          <button class="ui button" (click)="addNewPoint()">Add</button>
        </div>
        <!-- recurring meeting ? -->
        <button
          id="schedule-submit"
          class="ui button primary"
          [disabled]="!form.valid"
          (click)="sendMeeting()"
        >
          Schedule meeting
        </button>
        <button
          id="schedule-cancel"
          class="ui button"
          type="button"
          (click)="cancelSchedule()"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
