<div *ngIf="show" class="ui small message">
  <span>{{ notification.createdAt | date: "short" }}</span>
  <p>{{ message }}</p>
  <div *ngIf="isPendingContact" class="mini ui buttons">
    <button
      *ngIf="isPendingContact"
      class="ui teal button"
      (click)="onAcceptContact(); $event.stopPropagation()"
    >
      Accept
    </button>
    <div class="or"></div>
    <button
      class="ui button"
      (click)="onRejectContact(); $event.stopPropagation()"
    >
      Reject
    </button>
  </div>
  <div *ngIf="isText" class="mini ui buttons">
    <button class="ui button" (click)="onClose(); $event.stopPropagation()">
      Close
    </button>
  </div>
  <div *ngIf="isMeetingInvite" class="mini ui buttons">
    <button
      *ngIf="isMeetingInvite"
      class="ui teal button"
      (click)="onAcceptInvite(); $event.stopPropagation()"
    >
      Join
    </button>
    <div class="or"></div>
    <button class="ui button" (click)="onClose(); $event.stopPropagation()">
      Reject
    </button>
  </div>
  <div *ngIf="unreadMessageOptions">
    <button class="ui button" (click)="onOpenChat(); $event.stopPropagation()">
      Open chat
    </button>
  </div>
  <div *ngIf="unreadGroupMessageOptions">
    <button
      class="ui button"
      (click)="onOpenGroupChat(); $event.stopPropagation()"
    >
      Open chat
    </button>
  </div>
</div>
