<div class="ui borderless fixed top tiny labeled icon main menu">
  <div class="logo-item item">
    <img
      (click)="goToPage('home')"
      class="mini ui circular image"
      src="https://img.icons8.com/flat_round/64/000000/whale--v1.png"
    />
  </div>
  <!-- <a class="home-item item">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item">
        <i class="clock outline icon"></i>
        Meetings
    </a>
    <a class="item">
        <i class="edit outline icon"></i>
        Chat
    </a>
    <a class="contacts-item item">
        <i class="address book outline icon"></i>
        Contacts
    </a> -->
  <a (click)="showNotificationsMenu()" class="notify-pic-item item">
    <i class="bell outline icon"></i>
    <a *ngIf="notificationsList.length > 0" class="ui teal circular label">{{
      notificationsList.length
    }}</a>

    <div
      *ngIf="isNotificationsVisible"
      class="dropdown-menu notify"
    >
      <div
        *ngFor="let notification of notificationsList"
        class="dropdown-menu-item notification"
      >
        <span>{{ notification.time | date: "short" }}</span>
        <p>{{ notification.text }}</p>
      </div>
    </div>
  </a>
  <a (click)="showSettingsMenu()" class="user-pic-item item message shared">
    <spiner *ngIf="isUserLoadig" [size]="'small'"></spiner>
    <img class="ui tiny image user-pic" src="{{ loggedInUser?.avatarUrl }}" />
  </a>
  <div *ngIf="settingsMenuVisible" class="dropdown-menu settings">
    <div class="dropdown-menu-user" (click)="goToPage('profile-page')">
      {{ loggedInUser?.firstName }} {{ loggedInUser?.lastName }}
    </div>
    <div class="dropdown-menu-item" (click)="goToPage('setting-page')">
      Settings
    </div>
    <div class="dropdown-menu-item" (click)="logOut()">Log Out</div>
  </div>
</div>
