<div class="ui borderless fixed top tiny labeled icon main menu">
  <div class="logo-item item">
    <img
      id="header-go-home"
      (click)="goToPage('home')"
      class="mini ui circular image"
      src="https://img.icons8.com/flat_round/64/000000/whale--v1.png"
    />
  </div>

  <a
    id="header-show-notifications"
    (click)="showNotificationsMenu(); $event.stopPropagation()"
    class="notify-pic-item item"
  >
    <i class="bell outline icon"></i>
    <a *ngIf="notificationsList?.length > 0" class="ui teal circular label">{{
      notificationsList.length
    }}</a>

    <div *ngIf="isNotificationsVisible" class="dropdown-menu notify">
      <div style="overflow-y: scroll;">
        <app-notification
          *ngFor="let notification of notificationsList"
          [notification]="notification"
          (delete)="onNotificationDelete($event)"
          (openChatClicked)="onOpenChat($event)"
        >
        </app-notification>
      </div>
    </div>
  </a>
  <a
    id="header-show-settings"
    (click)="showSettingsMenu(); $event.stopPropagation()"
    class="user-pic-item item message shared"
  >
    <app-spiner *ngIf="isUserLoadig" [size]="'small'"></app-spiner>
    <img
      class="ui tiny avatar image user-pic"
      src="{{ loggedInUser?.avatarUrl }}"
    />
  </a>
  <div *ngIf="settingsMenuVisible" class="dropdown-menu settings">
    <div
      id="header-go-profile"
      class="dropdown-menu-user"
      (click)="goToPage('profile-page')"
    >
      {{ loggedInUser?.firstName }} {{ loggedInUser?.secondName }}
    </div>
    <div
      id="header-go-settings"
      class="dropdown-menu-item"
      (click)="goToPage('setting-page')"
    >
      Settings
    </div>
    <div id="header-go-logout" class="dropdown-menu-item" (click)="logOut()">
      Log Out
    </div>
  </div>
</div>
