<div class="chat ui segment">
  <div class="ui chat-header feed">
    <div class="event chat-label">
      <div class="content">
        <div class="group-info">
          <label for="newImage" (click)="changeImage()">
            <img
              *ngIf="isImageHere()"
              class="ui avatar image"
              src="{{ groupSelected.photoUrl }}"
            />
            <img
              *ngIf="!isImageHere()"
              class="ui avatar image"
              src="assets/img/user-group-icon.png"
            />
          </label>
          <div class="group-chat-info">
            <span class="group-chat-label ui header">
              {{ groupSelected.label }}
              <span class="grey sub header">
                {{ groupSelected.description }}
              </span>
            </span>
          </div>
          <div data-tooltip="Call" data-position="bottom center">
            <i id="chat-call" class="large phone icon" (click)="call()"></i>
          </div>
        </div>
        <div class="display-flex inner-block options__buttons">
          <span data-tooltip="Leave group" data-position="bottom center">
            <i
              id="leaveGroup"
              class="large arrow alternate circle left outline icon"
              (click)="leaveGroup()"
            ></i>
          </span>
          <div class="ui simple active dropdown">
            <span
              data-tooltip="Group members list"
              data-position="bottom center"
            >
              <i
                id="group-members-list"
                class="large address book outline icon"
                (click)="isMembersVisible = !isMembersVisible"
              ></i>
            </span>
            <div
              *ngIf="isMembersVisible"
              class="left menu ui middle aligned selection list lol"
            >
              <div *ngFor="let user of groupMembers" class="item">
                <img
                  class="ui avatar image"
                  src="{{ returnCorrectLink(user) }}"
                />
                <div class="content">
                  <div class="description">
                    {{ user?.firstName }}
                    {{ user?.secondName }}
                  </div>
                </div>
                <div
                  *ngIf="user.email === groupSelected.creatorEmail"
                  data-tooltip="Group host"
                  data-position="left center"
                  class="icon-wrapper"
                >
                  <i
                    *ngIf="user.email === groupSelected.creatorEmail"
                    class="star icon"
                  ></i>
                </div>
                <div
                  *ngIf="
                    groupSelected.creatorEmail == loggedInUser?.email &&
                    user.email !== loggedInUser?.email
                  "
                  data-tooltip="Delete user"
                  data-position="left center"
                  class="icon-wrapper"
                >
                  <i
                    class="close icon"
                    (click)="
                      deleteUserFromGroup(user); $event.stopPropagation()
                    "
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <span data-tooltip="Add new member" data-position="bottom center">
            <i
              id="add-new-member"
              class="large user plus icon"
              (click)="addNewMember()"
            ></i>
          </span>
          <span
            *ngIf="groupSelected.creatorEmail == loggedInUser?.email"
            data-tooltip="Edit group info"
            data-position="bottom center"
          >
            <i
              id="edit-group-info"
              class="large cogs icon"
              (click)="editGroupInfo()"
            ></i>
          </span>
        </div>
        <span data-tooltip="Close chat" data-position="bottom right">
          <i id="chat-close" class="large close icon" (click)="close()"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="ui chat-inner feed" #chatWindow>
    <app-spiner *ngIf="isMessagesLoading" [size]="'medium'"></app-spiner>
    <div
      *ngIf="messages.length == 0"
      class="ui large vertically-aligned no-message"
    >
      There is still no messages yet!
    </div>
    <div
      *ngFor="let message of messages"
      class="event message-event"
      #intersectionElement
      id="{{ message.id }}"
    >
      <div class="label">
        <img src="{{ message.author?.avatarUrl }}" />
      </div>
      <div class="content">
        <div class="summary">
          <a
            *ngIf="message.author?.email === loggedInUser?.email"
            class="user current-user-message"
          >
            You
          </a>
          <a *ngIf="message.author?.email !== loggedInUser?.email" class="user">
            {{ message.author?.firstName }}
            {{ message.author?.secondName }}
          </a>
          <div class="date">
            {{ message.createdAt | date: "short" }}
          </div>
        </div>
        <div class="message">
          <div *ngFor="let row of splitMessage(message?.message)">
            {{ row }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="forma">
    <form class="ui form vertically-aligned" #chatForm="ngForm">
      <div class="field">
        <textarea
          (keydown.enter)="onEnterKeyPress($event, chatForm.valid)"
          rows="2"
          placeholder="Print your message there"
          type="text"
          id="message"
          name="newMessage"
          [(ngModel)]="newMessage.message"
          required
        ></textarea>
        <div class="subheader helper">
          Enter to send. Enter+Shift for new line.
        </div>
      </div>
      <button
        id="chat-submit"
        class="ui button tiny send"
        type="submit"
        id="sendmessage"
        [disabled]="!chatForm.valid || newMessage.message.trim().length === 0"
        (click)="sendMessage()"
      >
        Send <i class="paper plane outline icon"></i>
      </button>
    </form>
  </div>
</div>
