<div class="ui segment">
  <div class="field">
    <div class="inline field">
      <div class="ui checkbox">
        <input
          #whiteboard
          type="checkbox"
          tabindex="0"
          id="whiteboard"
          (change)="changeWhiteboard($event)"
        />
        <label for="whiteboard" class="default-cursor"
          >Disable whiteboard to all participants
        </label>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="inline field">
      <div class="ui checkbox">
        <input
          #poll
          type="checkbox"
          tabindex="0"
          id="poll"
          (change)="changePoll($event)"
        />
        <label for="poll" class="default-cursor"
          >Disable poll ability to all participants
        </label>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="inline field">
      <div class="ui checkbox">
        <input
          #audio
          type="checkbox"
          tabindex="0"
          id="audio"
          (change)="changeAudioPermission($event)"
        />
        <label for="audio" class="default-cursor"
          >Mute participants upon entry
        </label>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="inline field">
      <div class="ui checkbox">
        <input
          #video
          type="checkbox"
          tabindex="0"
          id="video"
          (change)="changeVideoPermission($event)"
        />
        <label for="video" class="default-cursor"
          >Disable participants video upon entry
        </label>
      </div>
    </div>
  </div>
</div>
