<div
  id="modal-div-close"
  class="ui dimmer modals page visible active"
  (click)="decline()"
>
  <div class="ui mini modal visible active" (click)="$event.stopPropagation()">
    <div class="header">
      {{ secondMember?.firstName }} {{ secondMember?.secondName }}
    </div>
    <div class="content">
      <img
        class="ui centered circular small image"
        src="{{ secondMember?.avatarUrl }}"
      />
      <audio src="assets/audio/outgoing-call.mp3" autoplay loop></audio>
    </div>

    <div class="icon-wrapper">
      <i
        id="call-decline"
        class="phone red circular large icon"
        (click)="decline()"
      ></i>
    </div>
  </div>
</div>
