<div class="ui segment">
  <h3>Poll</h3>
  <form class="ui form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <label>Title</label>
      <div class="ui input">
        <input
          type="text"
          formControlName="title"
          [class.invalid]="
            form.controls.title.touched && form.controls.title.invalid
          "
        />
      </div>
      <div
        *ngIf="form.controls.title.touched && form.controls.title.invalid"
        class="errors-container"
      >
        <span *ngIf="form.controls.title.errors.required"
          >Title is required.</span
        >
      </div>
    </div>
    <div class="field">
      <div class="inline field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            tabindex="0"
            formControlName="isAnonymous"
            id="isAnonymous"
          />
          <label for="isAnonymous" class="default-cursor">Anonymous poll</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="inline field">
        <div class="ui checkbox">
          <input
            type="checkbox"
            tabindex="0"
            formControlName="isSingleChoise"
            id="isSingleChoise"
          />
          <label for="isSingleChoise" class="default-cursor">
            Single choice
          </label>
        </div>
      </div>
    </div>

    <div formArrayName="options" class="answers-container">
      <div class="field" *ngFor="let option of options.controls; let i = index">
        <label>Option {{ i + 1 }}:</label>
        <span
          *ngIf="i > 1"
          class="close-icon"
          id="{{ i }}"
          (click)="removeOption($event)"
          >&times;</span
        >
        <div class="ui small input">
          <input
            type="text"
            [formControlName]="i"
            [class.invalid]="
              i < 2 &&
              options.controls[i].touched &&
              options.controls[i].invalid
            "
          />
        </div>
        <div
          *ngIf="
            i < 2 && options.controls[i].touched && options.controls[i].invalid
          "
          class="errors-container"
        >
          <span *ngIf="i < 2 && options.controls[i].errors.required"
            >This option is required.</span
          >
        </div>
      </div>
    </div>

    <button
      type="button"
      class="ui button answers-button"
      (click)="addOption()"
    >
      Add option
    </button>
    <div class="flex-center">
      <button class="ui button primary" type="submit" [disabled]="!form.valid">
        Create poll
      </button>
    </div>
  </form>
</div>
