<div class="ui segment">
    <span class="reaction" (click)="onReactionClick(reactionsEnum.ThumbsUp)">{{reactionsEnum.ThumbsUp}}</span>
    <span class="reaction" (click)="onReactionClick(reactionsEnum.ClappingHands)">{{reactionsEnum.ClappingHands}}</span>
    <span class="reaction" (click)="onReactionClick(reactionsEnum.OKHand)">{{reactionsEnum.OKHand}}</span>
    <span class="reaction" (click)="onReactionClick(reactionsEnum.RedHeart)">{{reactionsEnum.RedHeart}}</span>
    <span class="reaction" (click)="onReactionClick(reactionsEnum.Fire)">{{reactionsEnum.Fire}}</span>
    <span class="reaction" (click)="onReactionClick(reactionsEnum.FaceWithTearsOfJoy)">{{reactionsEnum.FaceWithTearsOfJoy}}</span>
    <span class="reaction" (click)="onReactionClick(reactionsEnum.FaceWithOpenMouth)">{{reactionsEnum.FaceWithOpenMouth}}</span>
</div>
