<div class="ui dimmer modals page visible active">
  <div class="ui small modal visible active">
    <div class="ui header">
      <div>
        <h2>Rooms</h2>
      </div>
    </div>
    <div
      class="content"
      *ngIf="!roomService.isDividedIntoRooms && !roomService.isUserHost"
    >
      <h1>No room available</h1>
    </div>
    <div
      class="content"
      *ngIf="!roomService.isDividedIntoRooms && roomService.isUserHost"
    >
      <div class="ui right labeled input">
        <label for="duration" class="ui label duration-label">Duration</label>
        <input
          id="duration"
          type="number"
          placeholder="Minutes"
          [(ngModel)]="duration"
          (change)="durationChanged()"
          required
        />
        <div class="ui basic label">minutes</div>
      </div>
      <div class="ui action labeled input">
        <label for="numberOfRooms" class="ui label">Number of rooms</label>
        <input
          id="numberOfRooms"
          type="number"
          placeholder="number of rooms"
          [(ngModel)]="numberOfRooms"
          (change)="numberOfRoomsChanged()"
          required
        />
        <button
          class="ui button number-of-rooms-action"
          (click)="numberOfRoomsChanged()"
        >
          Reasign
        </button>
      </div>
      <div class="allow-to-choose-room">
        <div class="ui checkbox">
          <input
            #allowToChooseRoom
            type="checkbox"
            name="example"
            (change)="changeRoomPermission($event)"
          />
          <label>Allow participants to choose room</label>
        </div>
      </div>

      <div class="rooms">
        <div
          *ngFor="
            let room of roomService.previoslyDividedRooms
          "
          class="ui vertical segment"
        >
          <div class="ui header" *ngIf="{show: false } as showinput">
            <span *ngIf="!showinput.show">{{ room.name }}</span>
            <div class="ui action input" *ngIf="showinput.show">
              <input class="room-name-input" type="text" placeholder="Room name" [(ngModel)]="room.name">
              <button class="ui button" (click)="showinput.show = !showinput.show">Save</button>
            </div>
            <i class="pencil alternate icon" (click)="showinput.show = !showinput.show"></i>
          </div>
          <div
            *ngIf="!meeting.isAllowedToChooseRoom"
            class="ui divided list"
            dndDropzone
            dndEffectAllowed="move"
            [dndDisableIf]="
              checkIfSelectedParticipantIsInCurrentList(room.participants)
            "
            (dndDrop)="onDrop($event, room.participants)"
          >
            <div
              *ngIf="room.participants.length === 0"
              class="ui segment emptyPlace"
            ></div>
            <div
              class="ui segment participant"
              *ngFor="let participant of room.participants"
              [dndDraggable]="participant"
              [dndType]="participant"
              dndEffectAllowed="move"
              (dndStart)="onDragStart($event, participant)"
              (dndMoved)="onDragged(participant, room.participants)"
              (dndEnd)="onDragEnd($event)"
            >
              <div class="participant-data">
                <img
                  class="ui avatar image"
                  src="{{ participant?.user.avatarUrl }}"
                />
                <div>
                  {{ participant?.user.firstName }}
                  {{ participant?.user.secondName }}
                </div>
              </div>
              <div class="drag-icon">
                <i class="ellipsis vertical icon"></i>
                <i class="ellipsis vertical icon"></i>
              </div>
            </div>
            <div dndPlaceholderRef class="ui segment dndPlaceholder"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content" *ngIf="roomService.isDividedIntoRooms">
      <div class="rooms">
        <div
          class="ui divided list"
          *ngFor="
            let room of roomService.rooms | keyvalue
          "
        >
          <div class="ui header">
            <div>
              {{ room.value.name }}
            </div>
            <div
              data-tooltip="Join room"
              data-position="top right"
              class="ui inverted secondary button"
              *ngIf="meeting.id !== room.key"
              (click)="redirectIntoRoom(room.key)"
            >
              Join
            </div>
            <div
              class="ui inverted secondary disabled button"
              *ngIf="meeting.id === room.key && roomService.isInRoom"
            >
              You are here
            </div>
          </div>
          <div
            class="ui item participant"
            *ngFor="let participant of room.value.participants"
          >
            <div class="participant-data">
              <img
                class="ui avatar image"
                src="{{ participant?.user.avatarUrl }}"
              />
              <div>
                {{ participant?.user.firstName }}
                {{ participant?.user.secondName }}
              </div>
            </div>
          </div>
          <div class="ui fitted divider"></div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="ui button" (click)="close()">Close</button>
      <button
        class="ui primary button"
        *ngIf="!roomService.isDividedIntoRooms && roomService.isUserHost"
        (click)="divide()"
      >
        Divide
      </button>
      <button
        class="ui primary button"
        *ngIf="roomService.isInRoom && roomService.isDividedIntoRooms"
        (click)="leaveRoom()"
      >
        Leave room
      </button>
      <butto
        class="ui primary button"
        *ngIf="
          meeting.isAllowedToChooseRoom &&
          !roomService.isUserHost &&
          roomService.isDividedIntoRooms &&
          !roomService.isInRoom
        "
        (click)="joinRandomRoom()"
      >
        Join random
      </butto>
    </div>
</div>
