.ui.divided.list>.item 
    border: none

.ui.item.participant
    display: flex
    align-items: center
    margin: 5px 0

.ui.avatar.image
    margin: 0 10px

.ui.input
    display: flex
    align-items: center

.ui.header
    display: flex
    justify-content: space-between

.duration-label
    padding-right: 64px

.number-of-rooms-action
    padding-right: 22px
    padding-left: 15px

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield