<div class="ui card" ngDraggable>
  <div
    class="ui header"
    title="{{ call?.contact?.firstMember?.firstName }} {{
      call?.contact?.firstMember?.secondName
    }}"
  >
    {{ call?.contact?.firstMember?.firstName }}
    {{ call?.contact?.firstMember?.secondName }}
  </div>
  <div class="content">
    <img
      class="ui centered circular tiny image"
      src="{{ call?.contact?.firstMember?.avatarUrl }}"
    />
    <audio src="assets/audio/incoming-call.mp3" autoplay loop></audio>
  </div>

  <div class="icon-wrapper">
    <i
      id="incomingcall-confirm"
      class="phone green circular large icon"
      (click)="confirm()"
    ></i>
    <i
      id="incomingcall-decline"
      class="phone red circular large icon"
      (click)="decline()"
    ></i>
  </div>
</div>
