<form class="ui labels" [formGroup]="form">
  <div class="ui label" (click)="onSubmit()">
    <div class="ui input">
      <input type="text" [(ngModel)]="name" placeholder="Topic name" mode="name" formControlName="name" (change)="onSubmit()" />
    </div>

    <div class="field start-input">
      <div>Start time</div>
      <dp-date-picker
        mode="time"
        theme="dp-material"
        [config]="timeConfig"
        formControlName="time"
        (onChange)="onSubmit()"
      ></dp-date-picker>
      <span data-tooltip="Remove topic" data-position="top right">
      <i class="icon close" (click)="removeTag($event)"></i></span>
    </div>
  </div>
</form>
