<div class="custom-select">
  <div class="select">
    <div>Microphone:</div>
    <div class="custom-select ui compact menu">
      <select
        id="setting-audio-input"
        [(ngModel)]="inputDeviceId"
        (ngModelChange)="changeInputDevice($event)"
      >
        <option
          *ngFor="let c of inputDevices"
          [value]="c.deviceId"
          [selected]="c.deviceId == inputDeviceId"
          ><span>{{ c.label }}</span></option
        >
      </select>
    </div>
  </div>
  <div class="wrapper">
    <audio></audio>
    <button id="setting-audio-test" class="ui button" (click)="testMicro()">
      Check input level
    </button>
    <progress class="bar" value="{{ this.db }}" max="100"></progress>
  </div>
  <div class="wrapper">
    <label class="visually-hidden" for="volume">Volume microphone: </label>
    <input
      [(ngModel)]="volume"
      (ngModelChange)="changeVolume($event)"
      id="volume"
      class="slider"
      type="range"
      min="0"
      max="100"
      step="1"
    />
  </div>
</div>
<div class="custom-select" id="outputDevice">
  <div class="select">
    Speaker:
    <div class="custom-select ui compact menu">
      <select
        id="setting-audio-output"
        [(ngModel)]="outputDeviceId"
        (ngModelChange)="changeOutputDevice($event)"
      >
        <option
          *ngFor="let c of outputDevices"
          [value]="c.deviceId"
          [selected]="c.deviceId == outputDeviceId"
          ><span>{{ c.label }}</span></option
        >
      </select>
    </div>
  </div>
</div>
