<div class="ui large top fixed borderless main menu">
  <div class="ui container">
    <div class="left item">
      <img
        id="header-go-home"
        class="mini ui circular image"
        src="https://img.icons8.com/flat_round/64/000000/whale--v1.png"
      />
    </div>
    <div class="right menu">
      <div class="item">
        <a id="landing-login" class="ui primary button" (click)="logIn()"
          >Log In</a
        >
      </div>
    </div>
  </div>
</div>

<div class="screen_container first-screen ui segment">
  <div class="ui container">
    <div class="ui grid">
      <div class="ten wide column">
        <div class="ui container">
          <h1 class="ui header">
            Whale: A cloud-based video conferencing app with advanced abilities
            where you can conduct business meetings or have a virtual party with
            your friends. ​
          </h1>
        </div>
        <div class="ui text container">
          <button
            id="landing-main-login"
            class="ui big primary button"
            (click)="logIn()"
          >
            <span>Sign up for free</span>
          </button>
        </div>
      </div>
      <div class="six wide column"></div>
    </div>
  </div>
</div>

<div class="screen_container second-screen ui center aligned">
  <div class="ui container">
    <div class="screen_header">
      <h1 class="ui header">Why Whale?</h1>
    </div>
    <div class="ui four column stackable doubling grid">
      <div class="ui column center aligned">
        <img class="icon fl" src="assets/img/meeting-icon.png" />
        <h2>No limits</h2>
        <div>
          Unlimited call length and number of participants to meet with all the
          people you rarely see
        </div>
      </div>
      <div class="ui column center aligned">
        <img class="icon" src="assets/img/call-recording-icon.png" />
        <h2>Call recordings</h2>
        <div>
          You can record your meetings and then view them whenever you want
        </div>
      </div>
      <div class="ui column center aligned">
        <i class="massive paint brush icon"></i>
        <h2>Whiteboard</h2>
        <div>
          White surface for making nonpermanent markings
        </div>
      </div>
      <div class="ui column center aligned">
        <i class="massive clipboard list icon"></i>
        <h2>Polls</h2>
        <div>
          Ask meeting participants their opinion about a subject
        </div>
      </div>
    </div>
  </div>
</div>

<div class="screen_container third-screen ui center aligned">
  <div class="ui container">
    <div class="screen_header">
      <h1 class="ui header">What you can do?</h1>
    </div>
    <div class="content">
      <div class="content_item left">
        <div>
          <img src="assets/img/call-friends-and-family.jpg" />
        </div>
        <div>
          <h1>Call friends and family</h1>
          <div>
            Arrange meetings with friends, relatives and colleagues who live far
            away from you
          </div>
        </div>
      </div>
      <div class="content_item right">
        <div>
          <h1>Organize conferences and webinars</h1>
          <div>
            Keep your team connected with our video conferencing platform.
            Multiple participants can share their screens simultaneously and
            co-annotate for a more interactive meeting.
          </div>
        </div>
        <div>
          <img src="assets/img/webinar.jpg" />
        </div>
      </div>
      <div class="content_item left">
        <div>
          <img src="assets/img/chat.jpg" />
        </div>
        <div>
          <h1>Chat with friends</h1>
          <div>
            Create private chatrooms with groups, searchable history and
            integrated file sharing,
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  &copy; Powered by Binary Studio
</footer>
