/* You can add global styles to this file, and also import other style files */
button.ng2-date-picker-button
    border-radius: 7% !important

.toast-container
    min-width: 250px
    max-width: 420px
    opacity: 0.95 !important
    box-shadow: 0 0 1px rgba(0,0,0,0.5) !important

.ui.info.message
    font-color: grey !important

.relative
    position: relative

.canvas_whiteboard_buttons
    text-align: left
    border-bottom: 1.5px solid #e0e0e0
    width: 100%
    background-color: #f1f1f1
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif
    height: 66px
    
.canvas_whiteboard_button
    padding-top: 0px !important
    padding-bottom: 0px !important
    margin-top: 0px !important
    margin-bottom: 3px !important

.canvas_whiteboard_button-save
    position: absolute
    color: white
    background-color: #2185d0
    color: #fff
    top: 10px
    right: 1.5%
    width: 70px
    height: 28px

.canvas_whiteboard_button-clear
    position: absolute
    background: #e0e1e2 none
    color: rgba(0,0,0,.6)
    top: 10px
    right: 17%
    width: 70px
    height: 28px
    @media screen and (max-width: 1000px)
        right: 20%

.canvas_whiteboard_button-save:hover
    background-color: #1678c2

.canvas_whiteboard_button-clear:hover
    background-color: #cacbcd
    color: rgba(0,0,0,.8)

.selected-color-preview
    border: 0.5px solid black

.canvas-whiteboard-shape-selector-selected-preview.ng-star-inserted
    padding-left: 5px
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif

img.ui.avatar.fixed-size-35px
    width: 35px
    height: 35px

img.ui.avatar.fixed-size-28px
    width: 28px
    height: 28px

.legend-label
    span
        display: flex
        align-items: center