/* You can add global styles to this file, and also import other style files */
button.ng2-date-picker-button
    border-radius: 7% !important

.toast-container
    min-width: 250px
    max-width: 420px
    width: 60vw
    opacity: 0.9

.relative
    position: relative
