<div class="chat ui secondary segment">
  <div class="ui chat-inner feed">
    <div class="event chat-label">
      <div class="label">
        <img src="{{ contactSelected.secondMember?.avatarUrl }}" />
      </div>
      <div class="content">
        <div class="user-info">
          <div>
            <span class="user user-chat-label ui header">
              {{ contactSelected.secondMember.firstName }}
              {{ contactSelected.secondMember.secondName }}
              <span class="grey sub header">
                {{ contactSelected.secondMember.email }}
              </span>
            </span>
          </div>
          <div
            *ngIf="contactSelected?.secondMember.connectionId"
            data-tooltip="Online"
            data-position="right center"
          >
            <i class="circle small icon"></i>
          </div>
          <div
            *ngIf="contactSelected?.secondMember.connectionId"
            data-tooltip="Call"
            data-position="right center"
          >
            <i id="chat-call" class="large phone icon" (click)="call()"></i>
          </div>
        </div>

        <span data-tooltip="Close chat" data-position="left center">
          <i id="chat-close" class="large close icon" (click)="close()"></i>
        </span>
      </div>
    </div>

    <div
      *ngIf="messages.length == 0"
      class="ui large message vertically-aligned"
    >
      There is still no messages yet!
    </div>
    <div *ngFor="let message of messages" class="event message-event">
      <div class="label">
        <img src="{{ message.author?.avatarUrl }}" />
      </div>
      <div class="content">
        <div class="summary">
          <a class="user">
            {{ message.author?.firstName }}
            {{ message.author?.secondName }}
          </a>
          <div class="date">
            {{ message.createdAt | date: "short" }}
          </div>
        </div>
        <textarea disabled class="message">{{ message.message }}</textarea>
      </div>
    </div>
  </div>
  <div class="forma">
    <form class="ui form vertically-aligned" #chatForm="ngForm">
      <div class="field">
        <textarea
          (keydown.enter)="onEnterKeyPress($event, chatForm.valid)"
          rows="2"
          placeholder="Print your message there"
          type="text"
          id="message"
          name="newMessage"
          [(ngModel)]="newMessage.message"
          required
        ></textarea>
      </div>
      <button
        id="chat-submit"
        class="ui button tiny send"
        type="submit"
        id="sendmessage"
        [disabled]="!chatForm.valid"
        (click)="sendMessage()"
      >
        Send <i class="paper plane outline icon"></i>
      </button>
    </form>
    <div class="subheader">
      Enter to send. Enter+Shift for new line.
    </div>
  </div>
</div>
