.main-user-item
    display: flex

.chat
    height: 100%
    left: 10px

.chat-inner
    overflow-y: auto
    margin-left: 2em
    margin-right: 2em
    height: 70%
  
.chat-header 
    margin-left: 2em
    margin-right: 2em

.ui.placeholder.segment.field
        max-width: 20rem

.vertically-aligned
    display: flex
    justify-content: center
    align-items: center

.text-aligned
    text-align: center

.ui.mini.basic.button.edit-button
    float: right
    margin-left: auto
    padding: 5px

.field
    width: 80%
    align-items: center

.send 
    margin-left: 1rem
    
.ui.button.send
    padding: .78571429em .78571429em .78571429em


.ui.large.message.vertically-aligned
    margin-right: 2em

.chat-label
    position: sticky
    top: 0
    border-bottom: 2px solid white
    
    .content
        display: flex
        justify-content: space-between
        align-items: center

.user-info
    display: flex
    align-items: center

.ui.feed > .event.chat-label
   background: rgba(243, 244, 245, 0.98)

.user-chat-label
    color: black

#message
    resize: none
    height: calc(12vh - 10px)

.ui.pointing.mini.label
    top: -1rem

.event.row-reverse 
    display: flex
    flex-direction: row-reverse

.row-reverse
    display: flex
    flex-direction: row-reverse

.current-user-message
    float: right
    
.phone
    cursor: pointer
    margin-left: 10px
    transform: rotate(90deg)

.ui.feed > .event > .label
    margin: 1%

.message
    margin-right: 1%
    word-break: break-word
    overflow-wrap: break-word
    outline: none
    resize: none
    border: none
    background: #f3f4f5

.subheader
    font-size: 14px

.forma
    height: 15%
   
.circle.icon
    margin-left: 10px
    color: #2bac76

.no-message
    margin-top: 20% 

.helper
    margin-top: 3px
    width: 100%
    opacity: 0.6
    text-align: center

.large.close.icon:hover
    cursor: pointer

.options__buttons
    display: flex
    margin-left: auto
    margin-right: 4rem
    float: right

[data-position="bottom center"][data-tooltip]:before
    left: 20%

.ui.feed>.event>.content .summary>.date
    margin: 0 .5em 0 .5em
