<div class="chat ui secondary segment">
  <div class="ui chat-header feed">
    <div class="event chat-label">
      <div class="label">
        <img src="{{ contactSelected.secondMember?.avatarUrl }}" />
      </div>
      <div class="content">
        <div class="user-info">
          <div>
            <span class="user user-chat-label ui header">
              {{ contactSelected.secondMember.firstName }}
              {{ contactSelected.secondMember.secondName }}
              <span class="grey sub header">
                {{ contactSelected.secondMember.email }}
              </span>
            </span>
          </div>
          <div
            *ngIf="contactSelected?.secondMember.connectionId"
            data-tooltip="Online"
            data-position="right center"
          >
            <i class="circle small icon"></i>
          </div>
          <div
            *ngIf="contactSelected?.secondMember.connectionId"
            data-tooltip="Call"
            data-position="right center"
          >
            <i id="chat-call" class="large phone icon" (click)="call()"></i>
          </div>
        </div>

        <div class="display-flex inner-block options__buttons">
          <span data-tooltip="Delete contact" data-position="bottom center">
            <i
              id="delete-contact"
              class="large trash icon"
              (click)="onDelete()"
            ></i>
          </span>
        </div>

        <span data-tooltip="Close chat" data-position="left center">
          <i id="chat-close" class="large close icon" (click)="close()"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="ui chat-inner feed" #chatWindow>
    <spiner *ngIf="isMessagesLoading" [size]="'medium'"></spiner>
    <div
      *ngIf="messages.length == 0 && !isMessagesLoading"
      class="ui vertically-aligned no-message"
    >
      There is still no messages yet!
    </div>
    <div
      *ngFor="let message of messages"
      class="event message-event"
      [ngClass]="loggedInUser.id === message.authorId ? 'author' : 'visavis'"
    >
      <div class="label">
        <img src="{{ message.author?.avatarUrl }}" />
      </div>
      <div class="content">
        <div class="summary">
          <a class="user">
            {{ message.author?.firstName }}
            {{ message.author?.secondName }}
          </a>
          <div class="date">
            {{ message.createdAt | date: "short" }}
          </div>
        </div>
        <div disabled class="message">
          <div *ngFor="let row of splitMessage(message?.message)">
            {{ row }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="forma">
    <form
      class="ui form vertically-aligned"
      #chatForm="ngForm"
      style="padding-bottom: 0; margin-bottom: 0;"
    >
      <div class="field">
        <textarea
          (keydown.enter)="onEnterKeyPress($event, chatForm.valid)"
          rows="2"
          placeholder="Print your message there"
          type="text"
          id="message"
          name="newMessage"
          [(ngModel)]="newMessage.message"
          required
        ></textarea>
        <div class="subheader helper">
          Enter to send. Enter+Shift for new line.
        </div>
      </div>
      <button
        id="chat-submit"
        class="ui button tiny send"
        type="submit"
        id="sendmessage"
        [disabled]="!chatForm.valid"
        (click)="sendMessage()"
      >
        Send <i class="paper plane outline icon"></i>
      </button>
    </form>
  </div>
</div>
