<div class="chat ui secondary segment">
  <div class="ui chat-inner feed">
    <div class="event chat-label">
      <div class="label">
        <img src="{{ contactSelected.secondMember.avatarUrl }}" />
      </div>
      <div class="content">
        <div class="summary">
          <a class="user user-chat-label">
            {{ contactSelected.secondMember.firstName }}
            {{ contactSelected.secondMember.secondName }}
            {{ contactSelected.secondMember.email }}
          </a>
          <i class="phone icon" (click)="call()"></i>

          <a class="ui mini basic button edit-button" (click)="close()"
            >Close chat</a
          >
        </div>
      </div>
    </div>

    <div
      *ngIf="messages.length == 0"
      class="ui large message vertically-aligned"
    >
      There is still no messages yet!
    </div>
    <div *ngFor="let message of messages" class="event message-event">
      <div class="label">
        <img src="{{ message.author?.avatarUrl }}" />
      </div>
      <div class="content">
        <div class="summary">
          <a class="user">
            {{ message.author?.firstName }}
            {{ message.author?.secondName }}
          </a>
          <div class="date">
            {{ message.createdAt | date: "short" }}
          </div>
        </div>
        {{ message.message }}
      </div>
    </div>
  </div>
  <form class="ui form vertically-aligned" #chatForm="ngForm">
    <div class="field">
      <textarea
        (keydown.enter)="onEnterKeyPress($event, chatForm.valid)"
        rows="2"
        placeholder="Print your message there"
        type="text"
        id="message"
        name="newMessage"
        [(ngModel)]="newMessage.message"
        required
      ></textarea>
    </div>
    <button
      class="ui button tiny send"
      type="submit"
      id="sendmessage"
      [disabled]="!chatForm.valid"
      (click)="sendMessage()"
    >
      Send <i class="paper plane outline icon"></i>
    </button>
  </form>
  <div class="ui pointing mini label">
    Enter to send. Enter+Shift for new line.
  </div>
</div>
