<app-page-header></app-page-header>

<div class="profile-panel">
    <div class="settings">
        <div class="personal-container">
            <div class="settings-item">
                <div class="card">
                        <img class="ui small image" src="https://img.icons8.com/color/240/000000/user-male.png/"/>
                    <div class="content">
                    <div class="ui mini bottom attached button">
                        <i class="add icon"></i>
                        Upload new image
                    </div>
                    </div>
                </div>
            </div>
            <h3 class ="big name">David Lones</h3>
            <div class="edit-button">
                <button class="small ui basic button">
                    <a>
                        <i class="cog icon"></i> Edit
                    </a>
                </button>
            </div>
        </div>
        <div class="ui section divider"></div>
        <div class="personal-container">
            <div class="settings-item">
                <h4>Email address:</h4>
            </div>
            <span>user@email.com</span>
            <div class="edit-button">
                <button class="small ui basic button">
                    <a>
                        <i class="cog icon"></i> Edit
                    </a>
                </button>
            </div>
        </div>
        <div class="ui section divider"></div>
        <div class="personal-container">
            <div class="settings-item">
                <h4>Personal meeting id:</h4>
            </div>
            <span>1234-5678</span>
            <div class="edit-button">
                <button class="small ui basic button">
                    <a>
                        <i class="cog icon"></i> Edit
                    </a>
                </button>
            </div>
        </div>
        <div class="ui section divider"></div>
    </div>
</div>
<footer class="footer">
    &copy; Powered by Binary Studio
</footer>