<app-page-header #header></app-page-header>

<div #cameraModal class="modal">
  <div class="modal-content">
    <i id="profile-upload-closemodal" (click)="closeModal()" #closeUploadModal class="window close icon"></i>
    <div class="ui buttons">
      <label id="profile-upload-closecamera" (click)="closeCamera()" class="ui button" for="file">
        Upload from file
      </label>
      <input
        hidden
        type="file"
        id="file"
        (change)="uploadFile($event)"
        accept="image/*"
      />
      <div class="or"></div>
      <button id="profile-upload-showcamera" (click)="showCamera()" class="ui button">Make photo</button>
    </div>
    <div *ngIf="isShowCamera" class="camera-canvas">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        [imageURL]="userPhotoFromCamera"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      <!-- <img [src]="croppedImage" /> -->
      <div>
        <video #video id="video" width="75%" height="auto" autoplay></video>
      </div>
      <button id="profile-upload-capture" (click)="capture()" class="ui button">Make photo</button>
      <button id="profile-upload-sendimage" *ngIf="isImageCropped" (click)="SendImage()" class="ui button">
        Save
      </button>
      <canvas #canvas id="canvas" width="640" height="480"></canvas>
      <ul>
        <li *ngFor="let c of captures">
          <img src="{{ c }}" height="50" />
        </li>
      </ul>
    </div>
    <div class="upload" *ngIf="isShowUploadFile">
      <div class="cropper">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1 / 1"
          [cropperMinWidth]="128"
          [resizeToWidth]="128"
          [onlyScaleDown]="true"
          format="jpeg"
          (imageCropped)="imageCroppedUpload($event)"
        ></image-cropper>
        <img [src]="croppedImage" />
      </div>
      <button id="profile-upload-sendimage" (click)="SendImage()" class="ui button save">
        Save
      </button>
    </div>
  </div>
</div>

<div class="profile-panel">
  <div class="settings">
    <div class="personal-container">
      <div class="settings-item">
        <div class="card">
          <i id="profile-removeavatar" (click)="removeAvatar()" class="trash icon"></i>
          <img
            #avatar
            class="ui small image"
            src="{{ loggedInUser?.avatarUrl }}"
          />
          <div class="content">
            <div
              id="profile-openmodal"
              (click)="openModal()"
              #showUploadModal
              class="ui mini bottom attached button"
            >
              <i class="add icon"></i>
              Upload new image
            </div>
          </div>
        </div>
      </div>
      <h3 *ngIf="!editName" class="big name">
        {{ loggedInUser?.firstName }} {{ loggedInUser?.secondName }}
      </h3>
      <div id="profile-editname" (click)="editName = !editName" *ngIf="!editName" class="edit-button">
        <button class="small ui basic button">
          <a> <i class="cog icon"></i> Edit </a>
        </button>
      </div>
      <form
        *ngIf="editName"
        class="ui form"
        #nameForm="ngForm"
        (ngSubmit)="saveEditedUsername()"
      >
        <div class="inline fields">
          <div class="field form-field">
            <label>First Name</label>
            <input
              placeholder="First Name"
              type="text"
              id="frstName"
              name="firstName"
              [(ngModel)]="updatedUser.firstName"
              required
            />
            <label>Second Name</label>
            <input
              placeholder="Second Name"
              type="text"
              id="scndName"
              name="secondName"
              [(ngModel)]="updatedUser.secondName"
              required
            />
          </div>
          <div class="save-button">
            <button
              id="profile-submit-name"
              type="submit"
              [disabled]="!nameForm.valid"
              class="small ui button save"
            >
              <a> <i class="check icon"></i> Save </a>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="ui section divider"></div>
    <div class="personal-container">
      <div class="settings-item">
        <h4>Email:</h4>
      </div>
      <span>{{ loggedInUser?.email }}</span>
    </div>
    <div class="ui section divider"></div>
    <div class="personal-container">
      <div class="settings-item">
        <h4>Telephone:</h4>
      </div>
      <span *ngIf="!editTelephone">{{ loggedInUser?.phone }}</span>
      <div
        id="profile-edittelephone"
        (click)="editTelephone = !editTelephone"
        *ngIf="!editTelephone"
        class="edit-button"
      >
        <button class="small ui basic button">
          <a> <i class="cog icon"></i> Edit </a>
        </button>
      </div>
      <form
        id="profile-editname"
        *ngIf="editTelephone"
        class="ui form"
        #telephoneForm="ngForm"
        (ngSubmit)="saveEditedTelephone()"
      >
        <div class="inline fields">
          <div class="field form-field">
            <input
              placeholder="Phone"
              type="tel"
              pattern="[0-9]{12}"
              id="userTelephone"
              name="phone"
              [(ngModel)]="updatedUser.phone"
              required
            />
          </div>
          <div class="save-button">
            <button
              id="profile-submit-telephone"
              type="submit"
              [disabled]="!telephoneForm.valid"
              class="small ui button"
            >
              <a> <i class="check icon"></i> Save </a>
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- <div class="ui section divider"></div> -->
  </div>
</div>
<footer class="footer">
  &copy; Powered by Binary Studio
</footer>
