$bacground-darker: #f6f6f6

.profile-panel
    margin-top: 6.5em
    margin-left: 2em
    margin-right: 2em
    display: flex
    height: 100%

.item
    background-color: $bacground-darker
    .menu
        font-size: 17px

.menu
    .header
        font-size: 20px

.footer
    display: flex
    justify-content: center
    margin-top: 20px
    padding: 10px
    background-color: $bacground-darker

.settings
    width: 100%
    test-align: center

.bell
    font-size: 25px
    display: flex
    justify-content: center

.user
    display: flex
    justify-content: center

.content
    text-align: center

.card
    max-width: 150px

.user-pic
    max-width: 40px
    max-height: 40px
    margin-right: 5px

i
    color: grey     

.personal-container
    display: flex
    margin-left: 2em

.edit-button
    float: right
    margin-left: auto
    margin-right: 4em

.settings-item
    width: 190px 

