$bacground-darker: #f6f6f6

.profile-panel
    margin-top: 6.5em
    margin-left: 2em
    margin-right: 2em
    display: flex
    height: 100%

.item
    background-color: $bacground-darker
    .menu
        font-size: 17px
        
.logo-item
    margin-left: 5em

.home-item
    margin-left: auto

.user-pic-item 
    margin-right: 5em
    margin-left: 1em

.notify-pic-item
    margin-left: auto


.menu
    .header
        font-size: 20px
.footer
    display: flex
    justify-content: center
    margin-top: 20px
    padding: 10px
    background-color: $bacground-darker

.settings
    width: 100%
    test-align: center

.bell
    font-size: 25px
    display: flex
    justify-content: center

.user
    display: flex
    justify-content: center


.content
    text-align: center

.card
    max-width: 150px

.user-pic
    max-width: 40px
    max-height: 40px
    margin-right: 5px

i
    color: grey     

.personal-container
    display: flex
    margin-left: 2em

.edit-button
    float: right
    margin-left: auto
    margin-right: 4em

.settings-item
    width: 190px 

.dropdown-menu
    width: 140px
    height: 110px
    position: absolute
    top: 60px
    right: 0
    background-color: white
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2)
    border-radius: 1px
    display: flex
    justify-content: space-around
    flex-direction: column
    margin-right: 6em

.dropdown-menu-user 
    font-size: 12px
    color: grey
    margin: 5px 10px 0px 10px
    padding-bottom: 5px
    border-bottom: thin solid grey

.dropdown-menu-item 
    color: black
    font-size: 16px
    text-align: left
    margin: 5px 10px 0px 10px
    padding: 5px 2px

