div.modal.container
    min-width: 500px
    width: 40%
    
.tag-container
    display: flex
    flex-wrap: wrap
    min-height: 10vh
    max-height: 40vh
    overflow-y: scroll
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(150,150,150,1)
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(150,150,150,1)
    box-shadow: inset 0px 0px 2px 0px rgba(150,150,150,1)
    padding: 8px

.tag
    margin: 5px 5px 5px 0px

div.email-input
    display: flex
    align-items: center

.label-div
    margin: 10px 0px 5px 0px

.email-question
    margin-left: 3px

div.close-icon
    float: right
    span
        cursor: pointer