<div class="ui dimmer modals page visible active">
  <div class="ui mini modal visible active container">
    <h3 class="header">
      Invite users
      <div class="close-icon">
        <span (click)="closeModal(true)">
          &times;
        </span>
      </div>
    </h3>
    <div class="content">
      <form [formGroup]="formSearch">
        <div class="ui small input">
          <input
            placeholder="Search contact"
            formControlName="contactSearch"
            (ngModelChange)="filterContacts($event)"
          />
        </div>
      </form>
      <div class="ui relaxed divided selection list">
        <div *ngIf="isContactsLoading">
          <div class="ui inverted active centered inline loader"></div>
        </div>
        <div class="item" *ngFor="let contact of cachedContacts">
          <app-contact
            [contact]="contact"
            (contactClicked)="onContactClicked($event)"
          ></app-contact>
        </div>
      </div>
      <div *ngIf="cachedContacts.length === 0" class="no-contacts">
        No contacts
      </div>
      <form
        class="email-form"
        [formGroup]="form"
        #emailForm="ngForm"
        (keydown.enter)="addEmailTag(emailForm.valid)"
      >
        <div class="email-input">
          <div class="ui small input">
            <input
              formControlName="email"
              type="text"
              placeholder="Add by email"
              pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?"
            />
          </div>
          <div
            data-tooltip="Press button or Enter after input email"
            class="email-question"
            (click)="addEmailTag(emailForm.valid)"
          >
            <i class="paper plane icon"></i>
          </div>
        </div>
        <div class="ui error message" *ngIf="emailForm.invalid">
          Email invalid
        </div>
      </form>

      <div class="label-div">Users to invite:</div>
      <div class="tag-container">
        <div *ngFor="let email of emails" class="tag">
          <app-tag
            [email]="email"
            [displayValue]="getEmailOrName(email)"
            (tagRemoved)="removeTag($event)"
          ></app-tag>
        </div>
      </div>
    </div>
    <div class="actions">
      <div>
        <button
          class="ui button primary"
          type="submit"
          [disabled]="emails.length == 0 || isLoading"
          (click)="sendInvites()"
        >
          Send invites
        </button>
      </div>
    </div>
  </div>
</div>
