.field
    .ui.button
        display: inline-block
        float: right    
        width: 85px
        margin-top: 1px

.photo-field
    border-radius: 5px
    border: 1px solid #e0e1e2
    width: calc(100% - 90px)
    height: 37px
    display: inline-block
    margin-right: 5px
    font-size: 14px
    padding-top: 9px
    padding-left: 7px
    white-space: nowrap
    overflow-x: scroll
    overflow-y: hidden

::-webkit-scrollbar 
    display: none
