h4
    text-align: center

.no-padding
    padding: 0 !important

.padding-bottom-25px
    padding-bottom: 25px !important

div.avatar-container
    display: flex
    justify-content: flex-end
    margin: 0px 16px 0px 0px !important
    padding: 0
    
.voted-user-avatar
    width: 100%
    height: auto
    border-radius: 50%

.margin-0
    margin: 0 !important

.padding-0
    padding: 0 !important

.voted-user-column
    margin-left: 3px
