.home-panel
    padding-top: 6.5em
    padding-bottom: 2em
    margin-left: 2em
    margin-right: 2em
    display: flex
    height: 100%

.left-col
    max-height: 100%
    background-color: #ffffff
    float: left
    width: 20%
    display: flex
    height: fit-content

.right-col
    width: 80%
    display: flex
    float: right

.actions
    width: 100%
    height: 100%
    
.ui.vertical.menu.bar
    width: 100%
    max-height: 100%
    overflow: hidden
    overflow-y: auto
    display: flex

.user-list 
    margin-left: 10px
    margin-right: 10px

.contacts-container
    flex-grow: 1
    margin-top: 10px
    padding-bottom: 10px
    min-height: 3em
    overflow: hidden
    overflow-y: auto
    .icon-wrapper
        display: inline-block
        float: right
        margin-top: 6px
        .circle.icon
            color: #2bac76
    

.main-user-item
    display: flex

.chat
    height: 100%

.chat-inner
    overflow-y: scroll
    margin-left: 2em
    margin-right: 2em
    height: 80%
  
.ui.placeholder.segment.field
    max-width: 20rem

.ui.segment
   left: 10px
   width: 100%   

.vertically-aligned
    display: flex
    justify-content: center
    align-items: center

.text-aligned
    text-align: center

.ui.mini.basic.button.edit-button
    float: right
    margin-left: auto
    padding: 5px

.delete-button
    float: right
    margin-left: auto
    padding: 5px

.field
    width: 50rem
    align-items: center

.send 
    margin-left: 1rem
    
.ui.button.send
    padding: .78571429em .78571429em .78571429em


.ui.large.message.vertically-aligned
    margin-right: 2em

.chat-label
    position: sticky
    top: 0
    border-bottom: 2px solid white

.ui.feed > .event.chat-label
   background: rgba(243, 244, 245, 0.98)

.message-event
    float: right

.user-chat-label
    color: black

#message
    resize: none
    padding: .78571429em .78571429em .78571429em

.text-aligned:hover
    cursor: pointer
    box-shadow: 0 0 11px rgba(33,33,33,.2)

.avatar-pic
    width: 50px

.user-label
    margin-left: 10px


.contacts-container.groups
    margin-bottom: 5px

[data-tooltip]:after
    font-size: .9em
    padding: 5px
    margin-top: 5px
