<spiner *ngIf="isMeetingLoading" size="'massive'"></spiner>
<app-page-header></app-page-header>
<div class="home-panel">
  <div class="left-col">
    <div class="ui left vertical menu bar">
      <a class="item">
        <spiner *ngIf="isUserLoadig" size="'small'"></spiner>
        <div (click)="goToPage('profile-page')" class="main-user">
          <img
            class="ui circular image avatar-pic"
            src="{{ loggedInUser?.avatarUrl }}"
          />
          <div class="user-label">
            <a>{{ loggedInUser?.firstName }} {{ loggedInUser?.secondName }}</a>
          </div>
        </div>
      </a>
      <a class="item">
        <a id="home-go-history" class="item" (click)="onMeetingHistoryClick()">
          <i class="clock outline icon"></i>
          Meetings history
        </a>
        <a
          id="home-go-schedule"
          class="item"
          (click)="goToPage('schedule-meeting')"
        >
          <i class="calendar alternate outline icon"></i>
          Schedule meeting
        </a>
        <a id="home-go-create" class="item" (click)="createMeeting()">
          <i class="share icon"></i>
          Enter the meeting
        </a>
      </a>
      <spiner *ngIf="isContactsLoading" [size]="'medium'"></spiner>
      <a
        id="home-toggle-contacts"
        (click)="onContactsClick()"
        class="item header"
        >Contacts
        <button
          id="home-add-contact"
          (click)="addNewContact(); $event.stopPropagation()"
          class="ui mini basic button edit-button"
        >
          New
        </button>
      </a>
      <div class="contacts-container" [hidden]="!contactsVisibility">
        <div
          *ngFor="let contact of contacts"
          class="user-list ui middle aligned selection list"
        >
          <div
            id="home-contact"
            [ngClass]="
              isContactActive(contact) ? 'active item contact' : 'item contact'
            "
            [className]="contact.isAccepted ? '' : 'inactive'"
            (click)="onContactClick(contact)"
          >
            <img
              class="ui avatar image"
              src="{{ returnCorrectLink(contact) }}"
            />
            <div class="description">
              {{ contact?.secondMember.firstName }}
              {{ contact?.secondMember.secondName }}
            </div>
            <div
              data-tooltip="Online"
              data-position="left center"
              class="icon-wrapper"
            >
              <i
                *ngIf="contact?.secondMember.connectionId"
                class="circle small icon"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <spiner *ngIf="isGroupsLoading" [size]="'medium'"></spiner>
      <a id="home-toggle-groups" (click)="onGroupsClick()" class="item header"
        >Groups
        <button
          id="home-add-group"
          (click)="addNewGroup(); $event.stopPropagation()"
          class="ui mini basic button edit-button"
        >
          New
        </button>
      </a>
      <div
        class="contacts-container groups user-list ui selection list"
        [hidden]="!groupsVisibility"
      >
        <div *ngFor="let group of groups">
          <a
            id="home-group"
            [ngClass]="isGroupActive(group) ? 'active item' : 'item'"
            (click)="onGroupClick(group)"
          >
            <img
              *ngIf="isImageHere(group)"
              class="ui avatar image"
              src="{{ group.photoUrl }}"
            />
            <img
              *ngIf="!isImageHere(group)"
              class="ui avatar image"
              src="assets/img/user-group-icon.png"
            />
            <div
              data-tooltip="Delete group"
              data-position="left center"
              class="icon-wrapper__group"
            >
              <i
                *ngIf="group.creatorEmail == loggedInUser?.email"
                class="trash alternate outline icon"
                (click)="deleteGroup(group); $event.stopPropagation()"
              ></i>
            </div>
            {{ group.label }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="right-col">
    <div class="actions">
      <app-contacts-chat
        *ngIf="contactChatVisibility"
        [contactSelected]="contactSelected"
        [loggedInUser]="loggedInUser"
        (chat)="contactVisibilityChange($event)"
      ></app-contacts-chat>
      <app-group-chat
        *ngIf="groupChatVisibility"
        [groupSelected]="groupSelected"
        [loggedInUser]="loggedInUser"
        (chat)="groupVisibilityChange($event)"
      ></app-group-chat>
      <app-history
        *ngIf="historyVisibility"
        [user]="loggedInUser"
        (historyClose)="closeHistory()"
      ></app-history>
      <div *ngIf="actionsVisibility" class="vertically-aligned chat ui segment">
        <div
          id="home-chat-go-shedule"
          class="text-aligned"
          (click)="goToPage('schedule-meeting')"
        >
          <img
            class="ui centered small image"
            src="https://img.icons8.com/bubbles/100/000000/planner.png"
          />
          <span class="text-aligned">Schedule meeting</span>
        </div>
        <div class="text-aligned" (click)="onMeetingHistoryClick()">
          <img
            class="ui centered small image"
            src="https://img.icons8.com/bubbles/100/000000/todo-list.png"
          />
          <span class="text-aligned">Meetings history</span>
        </div>
        <div
          id="home-chat-go-create"
          class="text-aligned"
          (click)="createMeeting()"
        >
          <img
            class="ui centered small image"
            src="https://img.icons8.com/bubbles/100/000000/forward.png"
          />
          <span class="text-aligned header">Enter the meeting </span>
        </div>
      </div>
    </div>
  </div>
</div>
