<app-page-header></app-page-header>
<div class="home-panel">
  <div class="left-col">
    <div class="ui left vertical menu bar">
      <a class="item">
        <div class="ui very relaxed horizontal list">
          <div class="item">
            <img
              class="ui user-pic image"
              src="{{ loggedInUser?.avatarUrl }}"
            />
            <div class="content">
              <a class="header"
                >{{ loggedInUser?.firstName }} {{ loggedInUser?.secondName }}</a
              >
            </div>
          </div>
        </div>
      </a>
      <a class="item">
        <a class="item" (click)="goToPage('history')">
          <i class="clock outline icon"></i>
          Meetings history
        </a>

        <a class="item" (click)="goToPage('schedule-meeting')">
          <i class="calendar alternate outline icon"></i>
          Schedule meeting
        </a>
        <a class="item" (click)="createMeeting()">
          <i class="share icon"></i>
          Enter the meeting
        </a>
      </a>
      <div class="relative">
        <a
          (click)="contactsVisibility = !contactsVisibility"
          class="item header"
          >Contacts
          <button
            (click)="addNewContact(); $event.stopPropagation()"
            class="ui mini basic button edit-button"
          >
            New
          </button>
        </a>
      </div>
      <div
        [hidden]="!contactsVisibility"
        *ngFor="let contact of contacts"
        class="user-list ui middle aligned selection list"
      >
        <div
          [ngClass]="isContactActive(contact) ? 'active item' : 'item'"
          (click)="onContactClick(contact)"
        >
          <img
            class="ui avatar image"
            src="{{ contact.secondMember.avatarUrl }}"
          />
          <div class="content">
            <div class="description">
              {{ contact.secondMember.firstName }}
              {{ contact.secondMember.secondName }}
            </div>
          </div>
        </div>
      </div>
      <a (click)="groupsVisibility = !groupsVisibility" class="item header"
        >Groups
        <button
          (click)="addNewGroup()"
          class="ui mini basic button edit-button"
        >
          New
        </button>
      </a>
      <div
        [hidden]="!groupsVisibility"
        *ngFor="let contact of contacts"
        class="user-list ui middle aligned selection list"
      >
        <div (click)="onGroupClick()" class="item">
          <img
            class="ui avatar image"
            src="{{ contact.secondMember.avatarUrl }}"
          />
          <div class="content">
            <div class="description">
              {{ contact.secondMember.firstName }}
              {{ contact.secondMember.secondName }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-col">
    <div *ngIf="!chatVisibility" class="actions">
      <app-contacts-chat
        [contactSelected]="contactSelected"
        (chat)="visibilityChange($event)"
      ></app-contacts-chat>
    </div>
    <div *ngIf="chatVisibility" class="actions">
      <div class="vertically-aligned chat ui segment">
        <div class="text-aligned">
          <img
            class="ui centered small image"
            src="https://img.icons8.com/bubbles/100/000000/planner.png"
          />
          <span class="text-aligned">Schedule meeting</span>
        </div>
        <div class="text-aligned">
          <img
            class="ui centered small image"
            src="https://img.icons8.com/bubbles/100/000000/todo-list.png"
          />
          <span class="text-aligned">Meetings history</span>
        </div>
        <div class="text-aligned">
          <img
            class="ui centered small image"
            src="https://img.icons8.com/bubbles/100/000000/forward.png"
          />
          <span class="text-aligned header">Enter the meeting </span>
        </div>
      </div>
    </div>
  </div>
</div>
